Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: ./.pre_commit_unittest_handler.sh run_unittest
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: ./.pre_commit_unittest_handler.sh run_pylint
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Add variable meta data as meta tags
  templates/base.html
  templates/base_study.html
  templates/data/variable_detail.html
Due: none

Start adding new variable relations table
  assets/js/variable_relations.ts
  ddionrails/api/serializers.py
  templates/data/variable_detail.html
Due: isort, black, unittest, jest, pylint, bandit

Add basic setup and api request
  assets/js/variable_relations.ts
  templates/data/variable_detail.html
  webpack.config.js
Due: eslint--fix, eslint, jest

Add empty test and todo
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add period name to variable view html head
  templates/data/variable_detail.html
Due: none

Add basic long variable nodes to info box
  assets/js/variable_relations.ts
  ddionrails/api/views/datasets.py
  templates/data/variable_info.html
Due: isort, black, unittest, jest, pylint, bandit

Add sibling relation and harmonization flags
  ddionrails/api/views/datasets.py
  ddionrails/data/imports.py
  ddionrails/data/migrations/0005_variable_harmonization_variable_is_harmonized_and_more.py
  ddionrails/data/models/transformation.py
  ddionrails/data/models/variable.py
  ddionrails/imports/manager.py
Due: isort, black, unittest, pylint, bandit

Finalize functionality adding long vars to infobox
  assets/js/variable_relations.ts
  assets/scss/variables.scss
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, jest, pylint, bandit

Refactor and add filling of var relations card
  assets/js/variable_relations.ts
  assets/scss/variables.scss
Due: jest

Reword longa variable text
  assets/js/variable_relations.ts
Due: jest

Filter out duplicates in variable relation API
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Add concept icons in variable relations
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/scss/variables.scss
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
  templates/data/variable_detail.html
  tests/api/test_views.py
Due: isort, black, unittest, jest, pylint, bandit

Add sibling relations to frontend
  assets/js/variable_relations.ts
  assets/scss/variables.scss
Due: jest

Add css class to hide withour width rescale
  assets/js/variable_relations_toggle.ts
  assets/scss/index.scss
Due: jest

Change input output icons
  assets/js/variable_relations.ts
  assets/scss/variables.scss
  templates/data/variable_detail.html
Due: jest

Add related variable toggle button functionality
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/js/variable_relations_toggle.ts
  templates/data/variable_detail.html
Due: jest

Add relation toggle buttons; visual part only
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/scss/variables.scss
  templates/data/variable_detail.html
Due: jest

Hide icons if var has multiple relation
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/js/variable_relations_toggle.ts
Due: jest

Add missing periods through concept ingestion
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  package.json
Due: jest

Fix incorrect use of in operator
  assets/js/variable_relations_concepts.ts
Due: jest

Remove old relations tabs
  ddionrails/data/views.py
  templates/data/related_variables.html
  templates/data/variable_detail.html
Due: isort, black, unittest, pylint, bandit

Fix INSTALLED_APPS error
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Build treesitter-python during image creation
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Add tests for variable relations
  assets/js/tests/mock.ts
  assets/js/tests/variable_relations_test.ts
  assets/js/variable_relations_concepts.ts
Due: jest

Refactor variable relations
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
Due: jest

Pin faker lib
  pyproject.toml
Due: none

Start reworking test factories
  tests/factories.py
  tests/test_factories.py
Due: isort, black, unittest, pylint, bandit

Start replacing old test factories
  pyproject.toml
  tests/data/test_admin.py
  tests/factories.py
Due: isort, black, unittest, pylint, bandit

Fix permission problem for nvim dev container
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Fix issue with empty labels in label table
  assets/js/variable_labels.ts
Due: jest

Replace factories for dataset csv import test
  tests/data/test_imports.py
  tests/factories.py
Due: isort, black, unittest, pylint, bandit

Change variable relations header text
  templates/data/variable_detail.html
Due: none

Rename factory module
  tests/api/test_views.py
  tests/data/test_admin.py
  tests/data/test_imports.py
  tests/model_factories.py
  tests/test_factories.py
  tests/workspace/factories.py
Due: isort, black, unittest, pylint, bandit

Update next json import tests
  tests/data/test_imports.py
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Add functions for tmp files
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Refactor file factory
  tests/conftest.py
  tests/data/test_imports.py
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Change json import to bulk import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Refactor transformation import to use bulk_import
  ddionrails/data/imports.py
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Fix tmp csv writting no header
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Use dict literal instead of dict
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit
