Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Improve database request [skip ci]
  ddionrails/data/models/variable.py
Due: isort, black, unittest, pylint, bandit

Update dependency cspell to ^4.0.31
  package-lock.json
  package.json
Due: none

Update dependency eslint to ^6.6.0
  package-lock.json
  package.json
Due: none

Fix test and refactor
  ddionrails/data/models/variable.py
  ddionrails/instruments/models/question.py
  tests/data/test_models.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Update dev setup
  .pre-commit-config.yaml
  docker/ddionrails/dev/dev.bashrc
  docker/nginx/nginx.dev.conf
Due: none

Add newline
  docker/ddionrails/dev/dev.bashrc
Due: none

Remove pytest coverage flags from setup.cfg
  setup.cfg
Due: none

Fix travis setup
  .travis.yml
Due: none

Update development setup
  .pre-commit-config.yaml
  .travis.yml
  docker/ddionrails/dev/dev.bashrc
  docker/nginx/nginx.dev.conf
  setup.cfg
Due: none

Add coveralls
  .travis.yml
Due: none

Improve related_variables db request
  ddionrails/data/models/variable.py
  ddionrails/instruments/models/question.py
  tests/data/test_models.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Update Changelog for release 4.2.0
  CHANGELOG.md
Due: none

Update version in package.json
  package.json
Due: none

Update lock files
  Pipfile.lock
Due: none

[:tada: minor] Release 4.2.0
  CHANGELOG.md
  Pipfile.lock
  package.json
Due: none

Update django version in README
  README.md
Due: none

Fix import
  ddionrails/instruments/imports.py
Due: isort, black, unittest, pylint, bandit

Readd blank lines to Pipfile
  Pipfile
Due: none

Update dependency webpack to ^4.41.2
  package-lock.json
  package.json
Due: none

Add QuestionImage import to old Question import
  Pipfile
  Pipfile.lock
  ddionrails/imports/helpers.py
  ddionrails/instruments/imports.py
  ddionrails/instruments/views.py
  templates/questions/question_info.html
  tests/conftest.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Update Pipfile.lock
  Pipfile.lock
Due: none

Refactor QuestionImage import
  ddionrails/imports/helpers.py
  ddionrails/instruments/imports.py
  tests/conftest.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Fix type hints and other mypy problems
  ddionrails/imports/imports.py
  ddionrails/instruments/imports.py
  setup.cfg
  tests/concepts/test_documents.py
Due: isort, black, unittest, pylint, bandit

[dev] remove pipenv from renovate setup
  package.json
Due: none

[dev] Disable pylint cache
  setup.cfg
Due: none

Update dependency cspell to ^4.0.32
  package-lock.json
  package.json
Due: none

Update dependency vue-loader to ^15.7.2
  package-lock.json
  package.json
Due: none

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v7.4.2
  docker-compose.yml
Due: none

Lock file maintenance
  package-lock.json
Due: none

Add pylint and pytest coverage ignore flags
  tests/conftest.py
Due: isort, black, unittest, pylint, bandit

Refactor QuestionImage import
  ddionrails/imports/helpers.py
  ddionrails/imports/imports.py
  ddionrails/instruments/imports.py
  setup.cfg
  tests/concepts/test_documents.py
  tests/conftest.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Update dependency spinkit to v2
  package-lock.json
  package.json
Due: none

Update to use spinkit v2
  assets/js/topics.js
  assets/scss/topics.scss
  templates/studies/study_topics.html
Due: eslint--fix, eslint

-FIX- image import
  ddionrails/data/imports.py
  ddionrails/instruments/imports.py
  templates/questions/question_info.html
Due: isort, black, unittest, pylint, bandit

[dev] Add django-stubs to dependencies
  Pipfile
  Pipfile.lock
Due: none

Update dependency cspell to ^4.0.33
  package-lock.json
  package.json
Due: none

Add field weights to variable search
  assets/js/search/components/searches/VariableSearch.vue
Due: none

Add test and fixtures for csv input data
  ddionrails/imports/helpers.py
  ddionrails/imports/types.py
  tests/conftest.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Patch old import for importing images from csv
  ddionrails/imports/helpers.py
  ddionrails/imports/manager.py
  tests/conftest.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Patch import to work with questions_images.csv
  ddionrails/imports/helpers.py
  ddionrails/imports/manager.py
  ddionrails/imports/types.py
  tests/conftest.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
