Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

:beetle: Update CHANGELOG for v5.4.1
  CHANGELOG.md
Due: none

Change question image storage
  assets/js/question_images.ts
  ddionrails/instruments/imports/question_image_import.py
  ddionrails/instruments/migrations/0006_question_question_images.py
  ddionrails/instruments/models/question.py
  templates/questions/question_detail.html
  templates/questions/question_info.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Rename question_image field
  ddionrails/instruments/imports/question_image_import.py
  ddionrails/instruments/migrations/0006_question_images.py
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Remove django-filer
  Pipfile
  Pipfile.lock
  config/settings/base.py
  ddionrails/data/imports.py
  ddionrails/data/models/variable.py
  ddionrails/imports/helpers.py
  ddionrails/imports/manager.py
  ddionrails/instruments/admin.py
  ddionrails/instruments/models/__init__.py
  ddionrails/instruments/models/images.py
  ddionrails/instruments/views.py
  tests/data/test_imports.py
  tests/imports/test_helpers.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Update fontawesome icon names
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Readd filer for fade-out process
  Pipfile
  Pipfile.lock
  config/settings/base.py
  ddionrails/data/migrations/0001_squashed.py
  ddionrails/data/migrations/0008_auto_20220331_0924.py
  ddionrails/instruments/migrations/0001_squashed.py
  ddionrails/instruments/migrations/0007_delete_questionimage.py
Due: isort, black, unittest, pylint, bandit

Remove filer dependency
  Pipfile
  config/settings/base.py
  ddionrails/data/migrations/0001_initial.py
  ddionrails/data/migrations/0002_auto_20191127_0829.py
  ddionrails/data/migrations/0003_auto_20191128_0909.py
  ddionrails/data/migrations/0004_auto_20201016_0850.py
  ddionrails/data/migrations/0005_alter_transformation_id.py
  ddionrails/data/migrations/0006_variable_statistics_type.py
  ddionrails/data/migrations/0007_variable_statistics_flag.py
  ddionrails/data/migrations/0008_auto_20220331_0924.py
  ddionrails/instruments/migrations/0001_initial.py
  ddionrails/instruments/migrations/0002_question_period.py
  ddionrails/instruments/migrations/0003_auto_20201016_0850.py
  ddionrails/instruments/migrations/0004_auto_20210624_0828.py
  ddionrails/instruments/migrations/0005_questionitem_answer.py
  ddionrails/instruments/migrations/0006_question_images.py
  ddionrails/instruments/migrations/0007_delete_questionimage.py
  docker-compose-remote-dev.yml
Due: isort, black, unittest, pylint, bandit

Remove unnecessary logging setup
  ddionrails/concepts/imports.py
  ddionrails/data/imports.py
  ddionrails/data/models/variable.py
  ddionrails/imports/imports.py
  ddionrails/instruments/imports/concept_question_import.py
  ddionrails/instruments/imports/instrument_import.py
  ddionrails/instruments/imports/question_image_import.py
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/imports/question_variable_import.py
  ddionrails/publications/imports.py
  tests/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Readd filer for fade-out process
  Pipfile
  Pipfile.lock
  config/settings/base.py
  ddionrails/data/migrations/0001_squashed.py
  ddionrails/data/migrations/0008_auto_20220331_0924.py
  ddionrails/instruments/migrations/0001_squashed.py
  ddionrails/instruments/migrations/0007_delete_questionimage.py
  docker/ddionrails/Dockerfile
Due: isort, black, unittest, pylint, bandit

Fix question image import
  assets/scss/questions.scss
  ddionrails/instruments/imports/question_image_import.py
  templates/questions/question_detail.html
Due: isort, black, unittest, pylint, bandit

Add transfer.server submodule
  .github/workflows/system-tests.yml
  .gitmodules
Due: none

Remove prototype data api
  docker-compose.yml
  docker/data_api/Dockerfile
  docker/data_api/server.py
Due: isort, black, unittest, pylint, bandit

:rocket: Update CHANGELOG for v6.0.0
  CHANGELOG.md
Due: none

Update Django
  Pipfile
  Pipfile.lock
Due: none

Remove type from single statistic urls
  assets/js/search/components/results/StatisticsResult.vue
  assets/js/statistics_navigation.ts
Due: none

Update JavaScript Dependencies
  package-lock.json
Due: none

Add n_gram tokenizer for variable names
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Change feedback button style
  assets/scss/index.scss
  templates/search/search.html
Due: none

Fix question item grouping loop
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Refactor question import
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/models/answer.py
Due: isort, black, unittest, pylint, bandit

Improve question import performance
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Implement column search
  assets/js/instrument_table.js
  assets/scss/index.scss
  templates/studies/study_detail.html
Due: eslint--fix, eslint

Implement new dataset table
  assets/js/tables/dataset_table.js
  config/settings/base.py
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
  templates/base.html
  templates/studies/study_detail.html
  tests/api/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Fix font awesome 6 css pseudo elements
  assets/scss/index.scss
Due: none

Decrease attachments column width
  assets/scss/instrument_table.scss
Due: none

Move table modules into separate folder
  assets/js/tables/concept_table.js
  assets/js/tables/instrument_table.js
  webpack.config.js
Due: eslint--fix, eslint

Remove old templates
  ddionrails/instruments/urls.py
  ddionrails/instruments/views.py
  ddionrails/studies/views.py
  templates/instruments/instrument_list.html
  templates/instruments/study_instrument_list.html
  tests/instruments/test_views.py
  tests/studies/test_views.py
Due: isort, black, unittest, pylint, bandit

Remove old instrument table
  templates/instruments/instrument_table.html
  templates/studies/study_detail.html
Due: none

Add attachment info to instrument API
  ddionrails/api/serializers.py
  ddionrails/api/views/instruments.py
Due: isort, black, unittest, pylint, bandit

Refactor/Split large api view module
  .pre-commit-config.yaml
  ddionrails/api/urls.py
  ddionrails/api/views.py
  ddionrails/api/views/__init__.py
  ddionrails/api/views/datasets.py
  ddionrails/api/views/instruments.py
  ddionrails/api/views/studies.py
  ddionrails/api/views/user_tools.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add instrument data API
  assets/js/concept_table.js
  assets/js/instrument_table.js
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views.py
  setup.cfg
  templates/base.html
  templates/studies/study_detail.html
  templates/studies/topic_question_table.html
  templates/studies/topic_variable_table.html
  tests/api/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add cache for instrument API
  config/settings/base.py
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Add attachments column to instrument table
  assets/js/tables/instrument_table.js
  assets/scss/instrument_table.scss
  templates/studies/study_detail.html
  webpack.config.js
Due: eslint--fix, eslint

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
