Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: >-
          python3.11 -m pylint
          --load-plugins=pylint_django,pylint_django.checkers.migrations
          --rcfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Fix poetry dependency export
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/dev.Dockerfile
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Fix filename in webpack config
  webpack.config.js
Due: eslint--fix, eslint

Change study dropdown to react to click
  assets/js/index.ts
  assets/js/study_dropdown.ts
  assets/scss/index.scss
  templates/base.html
Due: jest

Fix some tests for local running
  ddionrails/imports/manager.py
  tests/concepts/test_documents.py
  tests/data/test_documents.py
  tests/instruments/test_documents.py
  tests/publications/test_documents.py
Due: isort, black, unittest, pylint, bandit

Fix webpack bundling
  webpack.config.js
Due: eslint--fix, eslint

Remove datatables button style import
  assets/js/tables/concept_table.ts
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/variable_labels.ts
  assets/js/tables/variable_table.ts
Due: jest

Fix broken datatable buttons dependency
  assets/js/tables/concept_table.ts
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/variable_labels.ts
  assets/js/tables/variable_table.ts
  assets/js/topics.js
  assets/scss/table_navigation.scss
  package-lock.json
  package.json
  templates/concepts/concept_detail.html
  templates/data/dataset_detail.html
  templates/data/study_datasets.html
  templates/instruments/instrument_detail.html
  templates/instruments/study_instruments.html
  templates/questions/question_detail.html
  templates/studies/study_topics.html
  webpack.config.js
Due: eslint--fix, eslint, jest

Fix instrument import for new instruments
  ddionrails/imports/management/commands/update.py
  ddionrails/instruments/imports/instrument_import.py
  tests/imports/management_commands/test_remove.py
  tests/imports/management_commands/test_update.py
  tests/instruments/test_documents.py
Due: isort, black, unittest, pylint, bandit

Fix tests for local testing
  tests/functional/imports/test_imports.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Update README badges
  README.md
Due: none

Rename pavement file start pavement removal
  tasks.py
  tests/test_pavement_tasks.py
Due: isort, black, unittest, pylint, bandit

Remove paver dependency
  poetry.lock
  pyproject.toml
  tasks.py
Due: isort, black, unittest, pylint, bandit

Update README
  README.md
Due: none

Lighten table navigation shade of gray
  assets/scss/table_navigation.scss
Due: none

Remove unused context processor
  config/context_processors.py
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Remove outdated env variable from example
  docker/environments/django.env.example
Due: none

Boost long variables in search
  assets/js/search/app.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
Due: none

Update README.md
  README.md
Due: none

Update base compose file to build web image locally
  docker-compose.yml
Due: none

Handle non numeric missings for variable category indexing
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Set postfix to be build directly
  docker-compose.yml
Due: none

Change stat server image name
  docker-compose.yml
Due: none

Update postgres version in compose file
  docker-compose.yml
Due: none

Add troubleshooting section to README
  README.md
Due: none

Update nvim dev config for clipboard to work
  docker-compose-remote-dev.yml
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Remove System model
  config/settings/base.py
  config/views.py
  ddionrails/base/migrations/0006_delete_system.py
  ddionrails/base/models.py
  ddionrails/imports/management/commands/system.py
  ddionrails/imports/manager.py
  ddionrails/workspace/scripts/soep_spss.py
  docker/environments/django.env.example
  templates/pages/home.html
  tests/base/factories.py
  tests/imports/test_managers.py
Due: isort, black, unittest, pylint, bandit

Update Readme and django env file
  README.md
  docker/environments/django.env.example
Due: none

Remove System remnants
  ddionrails/base/models.py
  tests/base/test_models.py
  tests/conftest.py
  tests/functional/imports/test_system_import.py
  tests/imports/management_commands/test_system.py
Due: isort, black, unittest, pylint, bandit

Update gitignore
  .gitignore
Due: none

Remove Repository class
  ddionrails/imports/git_repos.py
  ddionrails/imports/management/commands/add.py
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  ddionrails/studies/migrations/0006_study_pin_reference_alter_study_current_commit.py
  ddionrails/studies/models.py
  tests/imports/management_commands/test_system.py
  tests/imports/management_commands/test_update.py
  tests/imports/test_managers.py
Due: isort, black, unittest, pylint, bandit

Fix permission problems in test
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Add missing translation to log out button
  templates/base.html
Due: none

Fix workspace functional tests
  tests/functional/browser/test_workspace.py
Due: isort, black, unittest, pylint, bandit

Indroduce urlpattern mocking to test search ui
  tests/functional/browser/search/mock_urls.py
  tests/functional/browser/search/test_browser_search.py
Due: isort, black, unittest, pylint, bandit

Fix test add TODO
  tests/functional/browser/search/test_browser_search.py
Due: isort, black, unittest, pylint, bandit

Add TODOs
  tests/conftest.py
  tests/functional/browser/search/conftest.py
Due: isort, black, unittest, pylint, bandit

Change SearchDocument fixtures to use test index
  tests/conftest.py
  tests/functional/browser/search/conftest.py
  tests/functional/browser/search/mock_urls.py
  tests/functional/browser/search/test_browser_search.py
Due: isort, black, unittest, pylint, bandit

Fix instruments import for missing type information
  ddionrails/instruments/imports/instrument_import.py
Due: isort, black, unittest, pylint, bandit
