Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Move language switch to button
  assets/js/index.ts
  assets/js/language_management.ts
  assets/js/tables/variable_table.ts
  templates/base.html
  templates/data/dataset_detail.html
Due: none

Add TODO comment
  assets/js/tables/variable_table.ts
Due: none

Fix disappering search bars
  assets/js/tables/search_input_handling.ts
  assets/js/tables/variable_table.ts
Due: none

Add language cookie
  assets/js/index.ts
  templates/base.html
Due: none

Add reload on language switch for search
  assets/js/search/main.js
Due: eslint--fix, eslint

Implement language switch for DataTables
  assets/js/index.ts
  assets/js/language_management.ts
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/search_input_handling.ts
  assets/js/tables/table_language_management.ts
  assets/js/tables/variable_table.ts
  assets/js/topics.js
  assets/scss/index.scss
  templates/data/dataset_detail.html
  templates/data/study_datasets.html
  templates/instruments/instrument_detail.html
  templates/instruments/study_instruments.html
  templates/publications/attachments_partial.html
  templates/studies/study_topics.html
  translations.json
Due: eslint--fix, eslint

Add language switch for Datatable
  assets/js/tables/search_input_handling.ts
  assets/js/tables/variable_table.ts
  templates/base.html
  templates/data/dataset_detail.html
Due: none

Add more translations
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/scss/index.scss
  ddionrails/api/serializers.py
  ddionrails/data/models/variable.py
  ddionrails/instruments/models/question.py
  templates/data/dataset_detail.html
  templates/instruments/instrument_detail.html
  templates/studies/study_detail.html
  tests/base/test_mixins.py
  tests/data/test_models.py
  translations.json
Due: isort, black, unittest, pylint, bandit

Translate remaining facets
  assets/js/search/components/facets/PublicationTypeFacet.vue
  assets/js/search/components/facets/PublicationYearFacet.vue
  assets/js/search/components/facets/StudyFacet.vue
Due: none

Fix ngram tokenizer name
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Refactor language switch in search
  assets/js/search/components/facets/ConceptualDatasetFacet.vue
  assets/js/search/components/facets/PeriodFacet.vue
  assets/js/search/components/searches/BaseSearch.vue
  assets/js/search/components/searches/ConceptSearch.vue
  assets/js/search/components/searches/QuestionSearch.vue
  assets/js/search/components/searches/StatisticsSearch.vue
  assets/js/search/components/searches/TopicSearch.vue
  assets/js/search/components/searches/VariableSearch.vue
Due: none

Translate VariableResult.vue
  assets/js/search/App.vue
  assets/js/search/components/results/VariableResult.vue
  assets/js/search/main.js
  ddionrails/base/generic_documents.py
  ddionrails/data/documents.py
  translations.json
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Translate period facet
  assets/js/search/App.vue
  assets/js/search/components/facets/PeriodFacet.vue
  assets/js/search/helpers.js
  assets/js/search/router.js
  ddionrails/base/generic_documents.py
  translations.json
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Start translation of VariableResult.vue
  assets/js/search/components/results/VariableResult.vue
Due: none

Translate Conceptual Dataset Facet
  assets/js/search/components/facets/AnalysisUnitFacet.vue
  assets/js/search/components/facets/ConceptualDatasetFacet.vue
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Translate Analysis Unit Facet
  assets/js/search/components/facets/AnalysisUnitFacet.vue
  ddionrails/base/generic_documents.py
Due: isort, black, unittest, pylint, bandit

Continue translation
  ddionrails/base/generic_documents.py
  ddionrails/base/mixins.py
  templates/data/dataset_detail.html
  templates/data/statistics_partial.html
  templates/data/translation_table.html
  templates/data/variable_detail.html
  templates/data/variable_info.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  templates/questions/related_questions.html
  tests/data/test_documents.py
  tests/instruments/test_documents.py
  translations.json
Due: isort, black, unittest, pylint, bandit

Translate more
  assets/js/search/App.vue
  assets/js/search/components/results/ConceptResult.vue
  assets/js/search/components/results/PublicationResult.vue
  assets/js/search/components/results/QuestionResult.vue
  assets/js/search/components/results/VariableResult.vue
  assets/js/search/components/searches/ConceptSearch.vue
  assets/js/search/components/searches/PublicationSearch.vue
  assets/js/search/components/searches/QuestionSearch.vue
  assets/js/search/components/searches/TopicSearch.vue
  assets/js/search/components/searches/VariableSearch.vue
  assets/js/search/components/searches/helpers.js
  ddionrails/base/generic_documents.py
  ddionrails/instruments/documents.py
  translations.json
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add persistent id field to variable
  ddionrails/data/migrations/0003_variable_pid.py
  ddionrails/data/models/variable.py
Due: isort, black, unittest, pylint, bandit

Limit variable and question api
  ddionrails/api/views/datasets.py
  ddionrails/api/views/instruments.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Update python version for pre-commit
  .pre-commit-config.yaml
Due: none

Start translating templates
  ddionrails/base/mixins.py
  ddionrails/concepts/models.py
  templates/base.html
  templates/concepts/concept_detail.html
  templates/concepts/concept_result.html
  templates/nav/basket.html
  templates/nav/study.html
Due: isort, black, unittest, pylint, bandit

Add TypeScript function to switch content language
  assets/js/index.ts
Due: none

Enable language switch for Topic view
  assets/js/topics.js
  templates/base.html
  templates/studies/study_topics.html
Due: eslint--fix, eslint

Add centralized translation record
  translations.json
Due: none

Transport commit
  assets/js/index.ts
  assets/js/language_management.ts
  assets/js/tables/search_input_handling.ts
  assets/js/tables/variable_table.ts
  templates/data/dataset_detail.html
Due: none

Move german fields into mixins
  ddionrails/base/mixins.py
  ddionrails/concepts/models.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
