Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Update to Python 3.9.6
  Pipfile
  docker/ddionrails/Dockerfile
Due: none

Update pipfile-requirements
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Add missing requests dependency
  Pipfile
  Pipfile.lock
Due: none

Refactor some import modules
  ddionrails/imports/management/commands/system.py
  ddionrails/imports/manager.py
  tests/imports/management_commands/test_system.py
Due: isort, black, unittest, pylint, bandit

Fix handling of missing metadata files
  ddionrails/imports/manager.py
Due: isort, black, unittest, pylint, bandit

Fix variable-view description modal scrolling
  assets/js/variables.js
  assets/scss/variables.scss
  templates/data/variable_detail.html
Due: eslint--fix, eslint

:beetle: Update CHANGELOG for v5.1.3
  CHANGELOG.md
Due: none

Install chardet explicitly for pipfile2req
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Fix vue-loader webpack setup
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Roll back dependencies
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Remove file-loader in favour of asset modules
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Fix typo
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Fix; fill description_de field during import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Add Models for question items and answers
  ddionrails/imports/helpers.py
  ddionrails/instruments/models/answer.py
  ddionrails/instruments/models/question_item.py
Due: isort, black, unittest, pylint, bandit

Prepare new import and tests
  ddionrails/instruments/imports.py
  tests/data/test_documents.py
  tests/imports/test_data/answers.csv
  tests/imports/test_data/concepts.csv
  tests/imports/test_data/datasets.csv
  tests/imports/test_data/generations.csv
  tests/imports/test_data/instruments.csv
  tests/imports/test_data/logical_variables.csv
  tests/imports/test_data/questions.csv
  tests/imports/test_data/questions_variables.csv
  tests/imports/test_data/relations.json
  tests/imports/test_data/some-questionnaire.json
  tests/imports/test_data/topics.csv
  tests/imports/test_data/topics.json
  tests/imports/test_data/transformations.csv
  tests/imports/test_data/variables.csv
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Add QuestionItem model
  ddionrails/instruments/migrations/0005_questionitem.py
  ddionrails/instruments/models/__init__.py
Due: isort, black, unittest, pylint, bandit

Add main question import
  ddionrails/instruments/imports.py
  tests/conftest.py
  tests/functional/test_data/some-study/ddionrails/instruments/some-instrument.json
  tests/imports/test_data/answers.csv
  tests/imports/test_data/instruments.csv
  tests/imports/test_data/questions.csv
  tests/imports/test_data/some-questionnaire.json
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v5.1.4
  CHANGELOG.md
Due: none

Add barebones QuestionItems import
  ddionrails/instruments/imports.py
  ddionrails/instruments/migrations/0006_alter_questionitem_question.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/models/question_item.py
  tests/imports/test_data/questions.csv
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Add field import for questions
  ddionrails/instruments/imports.py
  ddionrails/instruments/migrations/0007_auto_20210914_1028.py
  ddionrails/instruments/migrations/0008_auto_20210914_1034.py
  ddionrails/instruments/migrations/0009_auto_20210914_1236.py
  ddionrails/instruments/models/question.py
  tests/conftest.py
  tests/data/test_documents.py
  tests/imports/test_data/questions.csv
  tests/imports/test_instruments_imports.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Add field data import for question items
  ddionrails/instruments/imports.py
  ddionrails/instruments/migrations/0010_questionitem_name.py
  ddionrails/instruments/models/question_item.py
  tests/imports/test_data/questions.csv
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Refactor question item import
  ddionrails/instruments/imports.py
Due: isort, black, unittest, pylint, bandit

Refactor instrument app imports
  ddionrails/imports/manager.py
  ddionrails/instruments/imports.py
  ddionrails/instruments/imports/__init__.py
  ddionrails/instruments/imports/concept_question_import.py
  ddionrails/instruments/imports/instrument_import.py
  ddionrails/instruments/imports/question_image_import.py
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/imports/question_variable_import.py
  tests/functional/imports/test_imports.py
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Rename test module to better reflect content
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Add answer import
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/models/__init__.py
  tests/imports/test_data/questions.csv
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Remove redundand attribute from question model
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Clean up migrations.
  ddionrails/instruments/migrations/0005_questionitem.py
  ddionrails/instruments/migrations/0005_questionitem_answer.py
  ddionrails/instruments/migrations/0006_alter_questionitem_question.py
  ddionrails/instruments/migrations/0007_auto_20210914_1028.py
  ddionrails/instruments/migrations/0008_auto_20210914_1034.py
  ddionrails/instruments/migrations/0009_auto_20210914_1236.py
  ddionrails/instruments/migrations/0010_questionitem_name.py
Due: isort, black, unittest, pylint, bandit

Add question import to import manager
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_import.py
  tests/functional/imports/test_imports.py
  tests/functional/test_data/some-study/ddionrails/questions.csv
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Implement rendering of txt and singel cat items
  assets/js/questions.js
  assets/scss/questions.scss
  ddionrails/base/helpers/ddionrails_typing.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/models/question_item.py
  ddionrails/instruments/views.py
  templates/questions/question_detail.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Fix question view
  ddionrails/instruments/views.py
  templates/questions/question_detail.html
Due: isort, black, unittest, pylint, bandit

Optimize questions import
  ddionrails/data/imports.py
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/models/answer.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/models/question_item.py
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Remove overly complex dict comprehension
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Remove unused template
  templates/base.html
  templates/tracker.html
Due: none

Update imprint
  config/settings/base.py
  templates/pages/imprint.html
Due: isort, black, unittest, pylint, bandit

Refactor selenium tests
  docker-compose-ci.yml
  docker-compose-remote-dev.yml
  tests/functional/browser/test_javascript.py
Due: isort, black, unittest, pylint, bandit

Update pipfile
  Pipfile.lock
Due: none

Refactor browser test
  tests/functional/browser/test_javascript.py
Due: isort, black, unittest, pylint, bandit

Update selenium URL
  tests/functional/browser/conftest.py
Due: isort, black, unittest, pylint, bandit

Add selenium browser options
  tests/functional/browser/test_javascript.py
Due: isort, black, unittest, pylint, bandit

Update test error handling
  tests/functional/browser/test_javascript.py
Due: isort, black, unittest, pylint, bandit
