Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: >-
          python3.11 -m pylint
          --load-plugins=pylint_django,pylint_django.checkers.migrations
          --rcfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Fix functional browser search tests
  tests/functional/browser/search/test_browser_search.py
Due: isort, black, unittest, pylint, bandit

Remove superfluous tests
  tests/functional/browser/search/test_browser_search.py
  tests/functional/browser/search/test_search.py
Due: isort, black, unittest, pylint, bandit

Translate imprint
  templates/pages/imprint.html
Due: none

Fix login navigation tests
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Fix import tests; migrate partly away from pytest
  tests/conftest.py
  tests/functional/browser/search/test_browser_search.py
  tests/functional/imports/test_imports.py
  tests/functional/search_index_fixtures.py
Due: isort, black, unittest, pylint, bandit

Fix concept document tests
  tests/concepts/test_documents.py
  tests/conftest.py
  tests/functional/browser/search/conftest.py
Due: isort, black, unittest, pylint, bandit

Migrate more pytest to unittest to fix tests
  tests/api/test_views.py
  tests/conftest.py
  tests/data/test_documents.py
  tests/data/test_forms.py
  tests/functional/imports/test_imports.py
  tests/instruments/test_documents.py
  tests/publications/test_documents.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Remove pytest mark from fixtures
  tests/conftest.py
  tests/workspace/conftest.py
Due: isort, black, unittest, pylint, bandit

Change pipeline setup to run all functional tests
  .github/workflows/system-tests.yml
Due: none

Handle hide toolbar failure
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Fix choosen exception for hide toolbar
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Add webdriver wait to failing test
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Change navigation test
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Add id to home-button
  templates/base.html
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Try clicking home button with javascript
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Add wait statement to browser test
  tests/functional/browser/search/test_browser_search.py
Due: isort, black, unittest, pylint, bandit

Add sleep statements to tests
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Try repair browser test
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Try to fix pipeline test
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Deactivate test failing in pipeline
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Set pytest config to do functional tests
  pyproject.toml
Due: none

Update pre commit to run outside container
  .pre-commit-config.yaml
  .pre_commit_unittest_handler.sh
Due: none

Update README with studies.examples.json
  README.md
Due: none

Update README
  README.md
Due: none

Change import order so study.md is properly imported
  ddionrails/imports/manager.py
  tests/config/test_urls.py
  tests/studies/test_context_processors.py
  tests/studies/test_models.py
Due: isort, black, unittest, pylint, bandit

Fix table selection in table language change
  assets/js/tables/dataset_table.ts
  assets/js/tables/table_language_management.ts
  assets/js/tables/variable_table.ts
  assets/js/tests/mock.ts
Due: jest

Remove hard coded soep specific info from imprint
  config/helpers.py
  config/settings/base.py
  ddionrails/base/views.py
  docker-compose.yml
  docker/environments/django.env.example
  docker/environments/imprint_info.example.json
  templates/pages/imprint.html
  tests/config/test_views.py
  tests/data/test_forms.py
Due: isort, black, unittest, pylint, bandit

Update README and add schema for setup JSON files
  README.md
  schema/imprint_info.schema.json
  schema/studies.schema.json
Due: none

Try using Suspend
  assets/js/search/app.tsx
Due: none

Fix All search
  assets/js/search/app.tsx
  assets/js/search/result_customizations/all_result.tsx
  assets/js/search/result_customizations/publication_result.tsx
  assets/js/search/search_configs/all_search_config.tsx
Due: none

Fix study facet not showing german publication search
  assets/js/search/search_configs/publication_search_config.tsx
Due: none

Add api documentation
  config/settings/base.py
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
  ddionrails/api/views/instruments.py
  ddionrails/api/views/parameters_definition.py
  ddionrails/api/views/studies.py
  ddionrails/api/views/user_tools.py
  poetry.lock
  pyproject.toml
Due: isort, black, unittest, pylint, bandit

Disable navigation to empty tables
  ddionrails/studies/views.py
  templates/nav/study.html
Due: isort, black, unittest, pylint, bandit

Fix navigation links on dataset and inst. page
  config/urls.py
  ddionrails/data/views.py
  ddionrails/instruments/views.py
  ddionrails/studies/views.py
Due: isort, black, unittest, pylint, bandit

Update JavaScript lockfile
  package-lock.json
Due: none

Update @typescript-eslint/parser
  package-lock.json
  package.json
Due: none

Update @typescript-eslint/eslint-plugin
  package-lock.json
  package.json
Due: none

Downgrade packages for inter package consistency
  package-lock.json
  package.json
Due: none

Update codecov-action
  .github/workflows/system-tests.yml
Due: none

Rename codecov folder
  .github/workflows/system-tests.yml
Due: none
