Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Translate VariableResult.vue
  assets/js/search/App.vue
  assets/js/search/components/results/VariableResult.vue
  assets/js/search/main.js
  ddionrails/base/generic_documents.py
  ddionrails/data/documents.py
  translations.json
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Translate Analysis Unit Facet
  assets/js/search/components/facets/AnalysisUnitFacet.vue
  ddionrails/base/generic_documents.py
Due: isort, black, unittest, pylint, bandit

Translate more
  assets/js/search/App.vue
  assets/js/search/components/results/ConceptResult.vue
  assets/js/search/components/results/PublicationResult.vue
  assets/js/search/components/results/QuestionResult.vue
  assets/js/search/components/results/VariableResult.vue
  assets/js/search/components/searches/ConceptSearch.vue
  assets/js/search/components/searches/PublicationSearch.vue
  assets/js/search/components/searches/QuestionSearch.vue
  assets/js/search/components/searches/TopicSearch.vue
  assets/js/search/components/searches/VariableSearch.vue
  assets/js/search/components/searches/helpers.js
  ddionrails/base/generic_documents.py
  ddionrails/instruments/documents.py
  translations.json
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add TODO comment
  assets/js/tables/variable_table.ts
Due: none

Translate period facet
  assets/js/search/App.vue
  assets/js/search/components/facets/PeriodFacet.vue
  assets/js/search/helpers.js
  assets/js/search/router.js
  ddionrails/base/generic_documents.py
  translations.json
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add flag to hide features in development
  config/context_processors.py
  config/settings/base.py
  docker/environments/django.env.example
  templates/base.html
Due: isort, black, unittest, pylint, bandit

Update django
  Pipfile
  Pipfile.lock
Due: none

Hide lang switch instead of removing it
  templates/base.html
Due: none

Fix limited instrument table
  assets/js/tables/instrument_table.ts
Due: none

Fix pycairo dependency problems
  Pipfile.lock
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Remove seaeprate language routing for topics
  config/urls.py
  ddionrails/studies/views.py
  templates/nav/study.html
  tests/studies/test_views.py
Due: isort, black, unittest, pylint, bandit

Handle empty labels in search
  assets/js/search/components/results/ConceptResult.vue
  assets/js/search/components/results/QuestionResult.vue
  assets/js/search/components/results/VariableResult.vue
  assets/js/search/helpers.js
Due: eslint--fix, eslint

Translate topic Javascript text
  assets/js/topics.js
  templates/studies/study_topics.html
Due: eslint--fix, eslint

Translate account details
  templates/workspace/account.html
Due: none

Change Messwerkzeug to Instrument
  assets/js/search/components/results/QuestionResult.vue
  templates/data/variable_info.html
  templates/instruments/instrument_detail.html
  templates/instruments/study_instruments.html
  templates/studies/study_detail.html
  templates/studies/study_topics.html
  translations.json
Due: none

Handle tooltips with css
  assets/scss/index.scss
  templates/data/variable_detail.html
Due: none

Refactor and translate description modal
  assets/js/description_modal.ts
  assets/js/index.ts
  assets/js/language_management.ts
  assets/js/tables/table_language_management.ts
  templates/data/dataset_detail.html
  templates/data/variable_info.html
  templates/description_modal.html
  templates/instruments/instrument_detail.html
  templates/questions/question_info.html
Due: none

Refactor basket navbar
  assets/scss/basket.scss
  templates/base.html
  templates/nav/basket.html
  templates/workspace/basket_detail.html
Due: none

Add language switch to standard features
  templates/base.html
Due: none

Translate news
  config/views.py
  ddionrails/base/migrations/0005_news_content_de_alter_news_content.py
  ddionrails/base/models.py
  templates/pages/home.html
Due: isort, black, unittest, pylint, bandit

Update devcontainer.json
  .devcontainer.json
Due: none

Fix babel dependency problem
  Pipfile
  Pipfile.lock
  config/views.py
Due: isort, black, unittest, pylint, bandit

:rocket: Update CHANGELOG for v7.0.0
  CHANGELOG.md
Due: none

Fix variable search
  assets/js/search/components/results/VariableResult.vue
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Remove unused field from Variable data-search
  assets/js/search/components/searches/VariableSearch.vue
Due: none

Make Variavble Search highlightField language dependent
  assets/js/search/components/searches/VariableSearch.vue
Due: none

Add API point for variable value labels
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Fix value labels API
  ddionrails/api/serializers.py
Due: isort, black, unittest, pylint, bandit

Handle missing concept in variable labels API
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Add concept name to variable info template
  templates/data/variable_info.html
Due: none

Setup minimal variable_labels setup
  assets/js/variable_labels.ts
  templates/data/variable_detail.html
  webpack.config.js
Due: eslint--fix, eslint

Add incomplete functions to variable labels
  assets/js/variable_labels.ts
  templates/data/variable_info.html
Due: none

Add jest tests
  .pre-commit-config.yaml
  assets/js/tests/mock.ts
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
  docker/ddionrails/dev/dev.Dockerfile
  jest.config.js
  package-lock.json
  package.json
Due: eslint--fix, eslint

Add period to variable label api
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Move jest config to typescript
  jest.config.js
  jest.config.ts
Due: eslint--fix, eslint

Mock API response
  .gitignore
  assets/js/tests/config.ts
  assets/js/tests/testdata/response.json
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
  package-lock.json
  package.json
  tsconfig.json
Due: none

Add test for parsed output
  assets/js/tests/testdata/response.json
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
Due: none

Refactor and add tests
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
Due: none

Add global jest installs to dev docker file
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
