Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Refactor question comparison
  assets/js/question_comparison.js
  assets/js/question_comparison_functions.js
  assets/scss/question_comparison.scss
  templates/questions/question_detail.html
  templates/questions/question_info.html
Due: eslint--fix, eslint

Update elasticsearch
  docker-compose.yml
Due: none

:tada: Update CHANGELOG for v5.3.0
  CHANGELOG.md
Due: none

Fix question comparison button behaviour
  assets/js/question_comparison.js
  assets/js/question_comparison_functions.js
Due: eslint--fix, eslint

Change fields used in question comparison
  ddionrails/instruments/models/question_item.py
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v5.3.1
  CHANGELOG.md
Due: none

Change Question compare button icon
  assets/js/question_comparison.js
Due: eslint--fix, eslint

:beetle: Update CHANGELOG for v5.3.2
  CHANGELOG.md
Due: none

Refactor question comparison
  assets/js/question_comparison_functions.js
  assets/scss/question_comparison.scss
  ddionrails/api/views.py
  ddionrails/instruments/models/question_item.py
  templates/questions/related_questions.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Remove unused view
  ddionrails/data/urls.py
  ddionrails/data/views.py
  tests/data/test_views.py
Due: isort, black, unittest, pylint, bandit

Allow special characters in datasets
  ddionrails/data/urls.py
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Remove obsolete question comparison
  templates/questions/related_questions.html
Due: none

Add information text
  templates/questions/related_questions.html
Due: none

Remove unused template parameter
  templates/questions/question_detail.html
Due: none

Update CHANGELOG for v5.3.3
  CHANGELOG.md
Due: none

Handle empty scale for question import
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Update Python libraries
  .pre-commit-config.yaml
  Pipfile.lock
Due: none

Update python version in dev setup
  docker-compose-remote-dev.yml
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Update JavaScript libraries
  package-lock.json
  package.json
Due: none

Fix test by converting them to unittest.TestCase
  tests/functional/conftest.py
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Unpin black
  Pipfile
  Pipfile.lock
Due: none

Add search and sort content for period facet
  assets/js/search/components/facets/PeriodFacet.vue
Due: none

Fix date in CHANGELOG
  CHANGELOG.md
Due: none

:beetle: Update CHANGELOG for v5.3.4
  CHANGELOG.md
Due: none

Fix typo in CHANGELOG
  CHANGELOG.md
Due: none

Fix typo
  assets/js/topics.js
Due: eslint--fix, eslint

Refactor search UI and indexing
  assets/js/search/components/facets/StudyFacet.vue
  assets/js/search/components/results/ConceptResult.vue
  assets/js/search/components/results/QuestionResult.vue
  assets/js/search/components/results/VariableResult.vue
  assets/js/search/components/searches/BaseSearch.vue
  assets/js/search/components/searches/VariableSearch.vue
  ddionrails/base/generic_documents.py
  ddionrails/concepts/documents.py
  ddionrails/data/documents.py
  ddionrails/data/models/dataset.py
  ddionrails/instruments/documents.py
  ddionrails/publications/documents.py
  tests/concepts/test_documents.py
  tests/data/test_documents.py
  tests/functional/imports/test_imports.py
  tests/instruments/test_documents.py
  tests/publications/test_documents.py
Due: isort, black, unittest, pylint, bandit

Add field weights to variable search
  assets/js/search/components/searches/VariableSearch.vue
Due: none

Add search feedback and typescript usage
  assets/js/search_feedback.ts
  assets/scss/search.scss
  config/settings/base.py
  config/urls.py
  ddionrails/api/urls.py
  ddionrails/api/views.py
  package-lock.json
  package.json
  templates/search/feedback.html
  templates/search/search.html
  tsconfig.json
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Integrate working transfer-server prototype
  .gitmodules
  assets/js/transfer_categorical.js
  config/settings/base.py
  config/urls.py
  ddionrails/transfer/__init__.py
  ddionrails/transfer/admin.py
  ddionrails/transfer/apps.py
  ddionrails/transfer/migrations/__init__.py
  ddionrails/transfer/models.py
  ddionrails/transfer/urls.py
  ddionrails/transfer/views.py
  docker-compose.yml
  docker/data_api/Dockerfile
  docker/data_api/server.py
  docker/environments/django.env.example
  docker/nginx/nginx.dev.conf
  docker/nginx/nginx.example.conf
  templates/transfer/categorical.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Bind year range of second plot to first plot
  assets/js/transfer.js
Due: eslint--fix, eslint

Integrate transfer-server prototype into UI
  assets/js/transfer.js
  assets/scss/index.scss
  config/urls.py
  ddionrails/publications/models.py
  ddionrails/studies/models.py
  ddionrails/transfer/urls.py
  ddionrails/transfer/views.py
  docker/data_api/server.py
  package.json
  templates/base.html
  templates/base_study.html
  templates/nav/study.html
  templates/transfer/numerical.html
  templates/transfer/transfer.html
  tests/publications/test_models.py
  tests/studies/test_models.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add confidence interval info button
  assets/js/transfer.js
  templates/transfer/transfer_detail.html
Due: eslint--fix, eslint

Add faux interactive menue
  assets/js/transfer_navigation.js
  assets/scss/transfer_navigation.scss
  templates/transfer/transfer.html
  webpack.config.js
Due: eslint--fix, eslint

Update transfer related models
  ddionrails/transfer/models.py
Due: isort, black, unittest, pylint, bandit

Add variable description info to plot view
  assets/scss/index.scss
  ddionrails/transfer/views.py
  templates/nav/study.html
  templates/transfer/transfer.html
  templates/transfer/transfer_detail.html
Due: isort, black, unittest, pylint, bandit

Refactor transfer views
  assets/scss/transfer.scss
  ddionrails/transfer/urls.py
  ddionrails/transfer/views.py
  templates/transfer/categorical.html
  templates/transfer/numerical.html
  templates/transfer/transfer.html
  templates/transfer/transfer_detail.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Handle variables not in database
  templates/transfer/transfer_detail.html
Due: none

Fix docker startup problems
  docker-compose.yml
Due: none

Fix django error made by html formatter
  templates/transfer/transfer_detail.html
Due: none
