Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Fix compose file selection
  .github/workflows/test.yml
Due: none

Correct github action step name
  .github/workflows/test.yml
Due: none

Replace docker-compose exec
  .github/workflows/test.yml
Due: none

Replace travis-ci setup
  .github/workflows/test.yml
  .travis.yml
  docker-compose-ci.yml
Due: none

Add codecov step
  .github/workflows/test.yml
Due: none

Refactor GitHub actions yml
  .github/workflows/test.yml
Due: none

Replace travis-ci with GitHub action (#1140)
  .github/workflows/test.yml
  .travis.yml
  docker-compose-ci.yml
Due: none

Update GH action steps to run on previous failure
  .github/workflows/test.yml
Due: none

Add codecov-action
  .github/workflows/test.yml
Due: none

Move codecov-action to end of pipeline
  .github/workflows/test.yml
Due: none

Rename github-action config file
  .github/workflows/system-tests.yml
Due: none

Run GH action on push and PR for master and dev
  .github/workflows/system-tests.yml
Due: none

Make codecov-action run always
  .github/workflows/system-tests.yml
Due: none

Update GitHub action (#1143)
  .github/workflows/system-tests.yml
Due: none

Refactor api views
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Fix add missing field to basket api output
  ddionrails/api/serializers.py
Due: isort, black, unittest, pylint, bandit

Refactor test_imports
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Add basket API tests
  tests/api/test_views.py
  tests/conftest.py
Due: isort, black, unittest, pylint, bandit

Add test for basket api post requests
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Update alpine Docker tag to v3.11.5
  docker/postfix/Dockerfile
Due: none

Refactor related_fields and tests
  ddionrails/api/related_fields.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Remove some lint
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add test for variable API
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Define data returned by variable API
  ddionrails/api/serializers.py
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add tests for basket API
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add tests for basket-variables API
  ddionrails/api/serializers.py
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Update dependency @fortawesome/fontawesome-free to ^5.13.0
  package-lock.json
  package.json
Due: none

Lock file maintenance
  package-lock.json
Due: none

Update dependency jquery.fancytree to ^2.35.0
  package-lock.json
  package.json
Due: none

Add query parameters to variable API
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add BasketVariable create and Basket limit
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add Topic method to get topic tree leaves
  ddionrails/api/views.py
  ddionrails/concepts/models.py
  tests/concepts/test_models.py
Due: isort, black, unittest, pylint, bandit

Refactor Topic test
  tests/concepts/test_models.py
Due: isort, black, unittest, pylint, bandit

Refactor baket-variable API create method
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Handle get_topic_tree_leaves call without input
  ddionrails/concepts/models.py
Due: isort, black, unittest, pylint, bandit

Add create by topic to basket-variable API
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add basket-variable create by name
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Update dependency prettier to ^2.0.4
  package-lock.json
  package.json
Due: none

Replace old basket-variable call in topics.js
  assets/js/topics.js
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

DEV Update eslint config
  package.json
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
