Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Add improved instrument import
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/instrument_import.py
  ddionrails/instruments/migrations/0002_instrument_has_questions_instrument_mode_and_more.py
  ddionrails/instruments/models/instrument.py
  tests/functional/imports/test_imports.py
  tests/functional/test_data/some-study/ddionrails/instruments.csv
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

fix: Change study in TopicResult.vue
  assets/js/search/components/results/TopicResult.vue
Due: none

Add missing field to instrument imoport
  ddionrails/instruments/imports/instrument_import.py
Due: isort, black, unittest, pylint, bandit

Add new fields to instruments datatable
  assets/js/tables/instrument_table.js
  ddionrails/api/serializers.py
  ddionrails/api/views/instruments.py
  templates/studies/study_detail.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add switch for extended instrument table
  assets/js/tables/instrument_table.js
  ddionrails/api/serializers.py
  ddionrails/api/views/instruments.py
  ddionrails/instruments/imports/instrument_import.py
  ddionrails/studies/views.py
  templates/studies/study_detail.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add missing field to instrument import
  ddionrails/instruments/imports/instrument_import.py
Due: isort, black, unittest, pylint, bandit

Set multi-list max size explicitly to 100
  assets/js/search/components/facets/AnalysisUnitFacet.vue
  assets/js/search/components/facets/ConceptualDatasetFacet.vue
  assets/js/search/components/facets/PeriodFacet.vue
  assets/js/search/components/facets/PublicationTypeFacet.vue
  assets/js/search/components/facets/PublicationYearFacet.vue
  assets/js/search/components/facets/StudyFacet.vue
Due: none

:tada: Update CHANGELOG for v6.1.0
  CHANGELOG.md
Due: none

Add config to manage feedback email adresses
  config/helpers.py
  config/settings/base.py
  tests/config/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Fix question item id generation during import
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Refactor feedback api to be universal
  assets/js/feedback.ts
  assets/scss/index.scss
  assets/scss/search.scss
  ddionrails/api/views/user_tools.py
  ddionrails/statistics/urls.py
  docker/environments/django.env.example
  package-lock.json
  templates/statistics/feedback.html
  templates/statistics/statistics_detail.html
  templates/statistics/statistics_navigation.html
  tests/api/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Align instrument attachement icons properly
  assets/scss/instrument_table.scss
Due: none

Change tokenizer and weights for variable name
  assets/js/search/components/searches/VariableSearch.vue
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Add hashing for production webpack setup
  webpack.config.js
Due: eslint--fix, eslint

Fix links for instruments namespace
  ddionrails/api/views/instruments.py
  ddionrails/instruments/views.py
Due: isort, black, unittest, pylint, bandit

Update variables table to render in browser
  assets/js/tables/variable_table.js
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
  ddionrails/data/views.py
  templates/data/dataset_detail.html
  tests/api/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Remove deprecated templates
  templates/data/dataset_table.html
  templates/data/variable_table.html
Due: none

Move datasets table to dedicated view
  config/urls.py
  ddionrails/data/models/dataset.py
  ddionrails/data/models/variable.py
  ddionrails/data/urls.py
  ddionrails/data/views.py
  ddionrails/instruments/views.py
  templates/data/study_datasets.html
  templates/nav/study.html
  templates/studies/study_detail.html
  tests/data/test_models.py
  tests/data/test_views.py
Due: isort, black, unittest, pylint, bandit

Remove outdated top margin
  assets/scss/index.scss
Due: none

Migrate dataset description to modal/card setup
  templates/data/dataset_detail.html
Due: none

Add nav-link highlighting
  assets/js/index.js
  assets/scss/index.scss
  assets/scss/instrument_table.scss
  ddionrails/data/views.py
  ddionrails/instruments/views.py
  ddionrails/statistics/views.py
  ddionrails/studies/views.py
  templates/base.html
  templates/data/study_datasets.html
  templates/instruments/study_instruments.html
  templates/statistics/feedback.html
  templates/statistics/statistics_detail.html
  templates/statistics/statistics_navigation.html
  templates/studies/study_topics.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Migrate instruments table to dedicated page
  assets/js/search/components/results/QuestionResult.vue
  assets/scss/instrument_table.scss
  config/urls.py
  ddionrails/instruments/models/instrument.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/urls.py
  ddionrails/instruments/views.py
  ddionrails/studies/views.py
  templates/instruments/study_instruments.html
  templates/nav/study.html
  templates/studies/study_detail.html
  tests/instruments/test_models.py
  tests/instruments/test_views.py
  tests/studies/test_views.py
Due: isort, black, unittest, pylint, bandit

Minor ui fixes for dataset views
  templates/data/dataset_detail.html
  templates/data/study_datasets.html
Due: none

Refactor instrument question table
  assets/js/index.js
  assets/js/tables/question_table.js
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
  ddionrails/api/views/instruments.py
  ddionrails/instruments/views.py
  templates/instruments/instrument_detail.html
  templates/questions/question_table.html
  tests/api/test_views.py
  tests/instruments/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Refactor isntrument and dataset detail view
  ddionrails/data/views.py
  ddionrails/instruments/views.py
  templates/data/dataset_detail.html
  templates/instruments/instrument_detail.html
Due: isort, black, unittest, pylint, bandit
