Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Remove some lint
  assets/js/topics.js
  ddionrails/api/views.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Update javascript formatting config
  package.json
Due: none

Add custom BasketVariable permissions
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add delete API endpoint for BasketVariables
  ddionrails/api/serializers.py
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add url params to BasketVariables GET API
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Replace basket handling on variable detail view
  assets/js/basket_button.js
  ddionrails/data/views.py
  templates/data/variable_detail.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Refactor basket button to be fully async
  assets/js/basket_button.js
Due: eslint--fix, eslint

Add documentation
  assets/js/basket_button.js
Due: eslint--fix, eslint

Replace basket internal variable adding/removing
  assets/js/basket_button.js
Due: eslint--fix, eslint

Remove deprecated API views
  assets/js/topics.js
  ddionrails/api/urls.py
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Refactor basket buttons
  assets/js/basket_button.js
  assets/scss/index.scss
  package-lock.json
  package.json
Due: eslint--fix, eslint

Remove some lint
  assets/js/basket_button.js
  package.json
Due: eslint--fix, eslint

Refactor topics view
  assets/js/topics.js
  ddionrails/studies/views.py
  templates/studies/study_topics.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Remove some lint
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v7.6.2
  docker-compose.yml
Due: none

Lock file maintenance
  package-lock.json
Due: none

Update dependency cspell to ^4.0.56
  package-lock.json
  package.json
Due: none

Remove Token
  .github/workflows/system-tests.yml
Due: none

Update dependency css-loader to ^3.5.2
  package-lock.json
  package.json
Due: none

Implement size limit for Baskets (#1062)
  Pipfile
  Pipfile.lock
  assets/js/basket_button.js
  assets/js/topics.js
  assets/scss/index.scss
  config/settings/base.py
  config/urls.py
  ddionrails/api/related_fields.py
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views.py
  ddionrails/concepts/models.py
  ddionrails/data/views.py
  ddionrails/studies/views.py
  ddionrails/workspace/views/decorator.py
  package-lock.json
  package.json
  templates/data/variable_detail.html
  templates/studies/study_topics.html
  tests/api/test_views.py
  tests/concepts/test_models.py
  tests/conftest.py
  tests/data/test_imports.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Update dependency jquery to ^3.5.0
  package-lock.json
  package.json
Due: none

Update dependency cspell to ^4.0.57
  package-lock.json
  package.json
Due: none

Update dependency style-loader to ^1.1.4
  package-lock.json
  package.json
Due: none

[:tada: Minor] Update Changelog for release
  CHANGELOG.md
Due: none

Fix typo in test method name
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Disable db constraints for BasketVariable variable
  ddionrails/workspace/migrations/0003_auto_20200422_0532.py
  ddionrails/workspace/models/basket_variable.py
Due: isort, black, unittest, pylint, bandit

Clarify comment
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Move study.md to the end of the import queue
  ddionrails/imports/manager.py
Due: isort, black, unittest, pylint, bandit

Remove migration from coverage report
  ddionrails/workspace/migrations/0003_auto_20200422_0532.py
Due: isort, black, unittest, pylint, bandit

Add clean import to data update
  ddionrails/imports/management/commands/update.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Add clean imports (#1177)
  ddionrails/data/imports.py
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  ddionrails/workspace/migrations/0003_auto_20200422_0532.py
  ddionrails/workspace/models/basket_variable.py
  tests/imports/management_commands/test_update.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Fix changelog headings
  CHANGELOG.md
Due: none

[:tada: Minor] Update changelog for release
  CHANGELOG.md
Due: none

Fix basket button API authentication
  assets/js/basket_button.js
  assets/js/topics.js
  templates/data/variable_detail.html
  templates/studies/study_topics.html
  templates/workspace/basket_detail.html
Due: eslint--fix, eslint

Decouple baskets from their associated study
  ddionrails/workspace/migrations/0004_auto_20200424_1252.py
  ddionrails/workspace/models/basket.py
Due: isort, black, unittest, pylint, bandit

Update tests
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Decouple baskets from their associated study (#1196)
  ddionrails/workspace/migrations/0004_auto_20200424_1252.py
  ddionrails/workspace/models/basket.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit
