Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: >-
          python3.11 -m pylint
          --load-plugins=pylint_django,pylint_django.checkers.migrations
          --rcfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Fix navbar spacing
  assets/scss/index.scss
  assets/scss/statistics.scss
  assets/scss/statistics_navigation.scss
Due: none

Backup old search and init new
  assets/js/old_search/App.vue
  assets/js/old_search/components/facets/AnalysisUnitFacet.vue
  assets/js/old_search/components/facets/ConceptualDatasetFacet.vue
  assets/js/old_search/components/facets/PeriodFacet.vue
  assets/js/old_search/components/facets/PublicationTypeFacet.vue
  assets/js/old_search/components/facets/PublicationYearFacet.vue
  assets/js/old_search/components/facets/StudyFacet.vue
  assets/js/old_search/components/results/ConceptResult.vue
  assets/js/old_search/components/results/PublicationResult.vue
  assets/js/old_search/components/results/QuestionResult.vue
  assets/js/old_search/components/results/StatisticsResult.vue
  assets/js/old_search/components/results/TopicResult.vue
  assets/js/old_search/components/results/VariableResult.vue
  assets/js/old_search/components/searches/BaseSearch.vue
  assets/js/old_search/components/searches/ConceptSearch.vue
  assets/js/old_search/components/searches/PublicationSearch.vue
  assets/js/old_search/components/searches/QuestionSearch.vue
  assets/js/old_search/components/searches/StatisticsSearch.vue
  assets/js/old_search/components/searches/TopicSearch.vue
  assets/js/old_search/components/searches/VariableSearch.vue
  assets/js/old_search/components/searches/helpers.js
  assets/js/old_search/helpers.js
  assets/js/old_search/main.js
  assets/js/old_search/router.js
  assets/js/search/main.ts
  webpack.config.js
Due: eslint--fix, eslint, jest

Add elastic UI dependency
  package-lock.json
  package.json
Due: none

Add basic search ui connector
  assets/js/search/main.ts
Due: jest

Create minimal working react integration
  assets/js/search/main.ts
  package-lock.json
  package.json
  tsconfig.json
Due: jest

Get jsx to work
  assets/js/search/main.ts
  assets/js/search/main.tsx
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint--fix, eslint, jest

Add App module
  assets/js/search/app.tsx
  assets/js/search/main.tsx
Due: none

Fix loading issues
  assets/js/search/app.tsx
  assets/js/search/main.tsx
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Sort facet groups alphabetically
  assets/js/search/app.tsx
  assets/js/search/view_customisations/SortedFacet_view.tsx
Due: none

Add customized result sketch
  assets/js/search/app.tsx
  assets/js/search/view_customisations/variable_result_view.tsx
  assets/scss/search.scss
Due: none

Fix sorting
  assets/js/search/app.tsx
Due: none

Move search body to the left
  assets/scss/search.scss
Due: none

Add period to results
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Enable search hit highlighting
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Add autocomplete view
  assets/js/search/app.tsx
  assets/js/search/search_configs.ts
  assets/js/search/view_customisations/Autocomplete_view.tsx
Due: jest

Add clickable link to autosuggestion
  assets/js/search/app.tsx
  assets/js/search/view_customisations/Autocomplete_view.tsx
Due: none

Rename modules for consistency
  assets/js/search/app.tsx
  assets/js/search/view_customisations/autocomplete_view.tsx
  assets/js/search/view_customisations/sorted_facet_view.tsx
Due: none

Refactor autocomplete view
  assets/js/search/view_customisations/Autocomplete_view.tsx
Due: none

Change variable result metadata order
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Modularize results
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Fix indexing of facetless items
  ddionrails/base/generic_documents.py
Due: isort, black, unittest, pylint, bandit

Add facets to variable search
  assets/js/search/app.tsx
Due: none

Add question search
  assets/js/search/app.tsx
  assets/js/search/search_variants/question_search.tsx
  assets/js/search/search_variants/variable_search.tsx
  assets/js/search/view_customisations/question_result_view.tsx
  assets/js/search/view_customisations/sorted_facet_view.tsx
  ddionrails/data/models/dataset.py
  ddionrails/instruments/documents.py
  ddionrails/instruments/models/question.py
  package-lock.json
  package.json
  tests/data/test_forms.py
Due: isort, black, unittest, pylint, bandit

Add react routing
  assets/js/search/app.tsx
  assets/js/search/search_variants/question_search.tsx
  assets/js/search/search_variants/variable_search.tsx
  package-lock.json
  package.json
Due: none

Add basic nav links
  assets/js/search/app.tsx
Due: none

Remove leftover console.log
  assets/js/search/view_customisations/question_result_view.tsx
Due: none

Preserve query parameters during routing
  assets/js/search/app.tsx
Due: none

Add all indices search and refactor
  assets/js/search/app.tsx
  assets/js/search/result_customisations/all_result_view.tsx
  assets/js/search/result_customisations/question_result_view.tsx
  assets/js/search/result_customisations/variable_result_view.tsx
  assets/js/search/search_components/autocomplete_view.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_components/sorted_facet_view.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/js/search/view_customisations/question_result_view.tsx
Due: none

Refactor module names
  assets/js/search/app.tsx
  assets/js/search/result_customisations/all_result.tsx
  assets/js/search/result_customisations/question_result.tsx
  assets/js/search/result_customisations/variable_result.tsx
  assets/js/search/search_components/autocomplete.tsx
  assets/js/search/search_components/sorted_facet.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
Due: none

Add concepts search
  assets/js/search/app.tsx
  assets/js/search/result_customisations/all_result.tsx
  assets/js/search/result_customisations/concept_result.tsx
  assets/js/search/search_configs/concept_search_config.tsx
Due: none

Add topics search
  assets/js/search/app.tsx
  assets/js/search/result_customisations/all_result.tsx
  assets/js/search/result_customisations/topic_result.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/topic_search_config.tsx
Due: none

Add publications search
  assets/js/search/app.tsx
  assets/js/search/result_customisations/publications_result.tsx
  assets/js/search/search_configs/publication_search_config.tsx
Due: none

Refactor result list
  assets/js/search/app.tsx
  assets/js/search/result_customizations/all_result.tsx
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/publications_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/result_field_separator.tsx
  assets/js/search/result_customizations/topic_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/scss/search.scss
Due: none

Finish up search menu
  assets/js/search/app.tsx
  assets/js/search/search_components/result_header.tsx
  assets/scss/search.scss
  config/urls.py
Due: isort, black, unittest, pylint, bandit

Remove left over console.log
  assets/js/search/result_customizations/publications_result.tsx
Due: none

Remove vue and old search
  assets/js/old_search/App.vue
  assets/js/old_search/components/facets/AnalysisUnitFacet.vue
  assets/js/old_search/components/facets/ConceptualDatasetFacet.vue
  assets/js/old_search/components/facets/PeriodFacet.vue
  assets/js/old_search/components/facets/PublicationTypeFacet.vue
  assets/js/old_search/components/facets/PublicationYearFacet.vue
  assets/js/old_search/components/facets/StudyFacet.vue
  assets/js/old_search/components/results/ConceptResult.vue
  assets/js/old_search/components/results/PublicationResult.vue
  assets/js/old_search/components/results/QuestionResult.vue
  assets/js/old_search/components/results/StatisticsResult.vue
  assets/js/old_search/components/results/TopicResult.vue
  assets/js/old_search/components/results/VariableResult.vue
  assets/js/old_search/components/searches/BaseSearch.vue
  assets/js/old_search/components/searches/ConceptSearch.vue
  assets/js/old_search/components/searches/PublicationSearch.vue
  assets/js/old_search/components/searches/QuestionSearch.vue
  assets/js/old_search/components/searches/StatisticsSearch.vue
  assets/js/old_search/components/searches/TopicSearch.vue
  assets/js/old_search/components/searches/VariableSearch.vue
  assets/js/old_search/components/searches/helpers.js
  assets/js/old_search/helpers.js
  assets/js/old_search/main.js
  assets/js/old_search/router.js
  package-lock.json
  package.json
Due: eslint--fix, eslint

Start implementing search language switch
  assets/js/search/app.tsx
  assets/js/search/language_state.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/scss/search.scss
Due: none

Add translation for concept facets
  assets/js/search/app.tsx
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/facets.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  ddionrails/base/generic_documents.py
  ddionrails/concepts/documents.py
Due: isort, black, unittest, pylint, bandit

Translate facets for variable search
  assets/js/search/app.tsx
  assets/js/search/search_components/facets.tsx
  assets/js/search/search_configs/variable_search_config.tsx
Due: none

Refactor App to centralize language switch
  assets/js/search/app.tsx
  assets/js/search/factory_mappers.tsx
  assets/js/search/language_state.tsx
  assets/js/search/result_customizations/all_result.tsx
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/publications_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/topic_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  ddionrails/concepts/documents.py
Due: isort, black, unittest, pylint, bandit
