Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: ./.pre_commit_unittest_handler.sh run_unittest
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: ./.pre_commit_unittest_handler.sh run_pylint
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Fix json syntax
  tsconfig.json
Due: none

Update docker setup to use dedicated django user
  docker-compose-remote-dev.yml
  docker-compose.yml
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/dev.Dockerfile
  docker/ddionrails/dev/dev.bashrc
  docker/ddionrails/dev/entrypoint.sh
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Fix jest setup
  assets/js/tests/mock.ts
  assets/js/tests/statistics_navigation_utils_test.ts
  jest.config.ts
  package-lock.json
Due: jest

Fix neotest typescript setup and add tests
  assets/js/tests/statistics_navigation_utils.test.ts
  assets/js/tests/variable_labels.test.ts
  assets/js/tests/variable_relations.test.ts
  assets/js/tests/variable_relations_test.ts
  docker/ddionrails/dev/nvim.Dockerfile
  jest.config.js
  jest.config.ts
  package-lock.json
  package.json
Due: eslint--fix, eslint, jest

Refactor Dockerfile to use multi stage building
  docker/ddionrails/Dockerfile
Due: none

Update images
  docker-compose-ci.yml
  docker-compose.yml
Due: none

Change npm install in Docker image
  docker/ddionrails/Dockerfile
Due: none

Fix entrypoint path
  docker/ddionrails/Dockerfile
Due: none

Fix permission issues
  docker/ddionrails/Dockerfile
Due: none

Fix missing gunicorn
  docker/ddionrails/Dockerfile
Due: none

Fix study git location permission problem
  docker/ddionrails/Dockerfile
Due: none

Fix git missing in final image
  docker/ddionrails/Dockerfile
Due: none

Fix missing build files
  docker/ddionrails/Dockerfile
Due: none

Fix database backup dir permission issue
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Refactor sibling relation creation and display
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  ddionrails/api/views/datasets.py
  ddionrails/data/imports.py
Due: isort, black, unittest, jest, pylint, bandit

Refactor sibling relation retrieval
  assets/js/variable_relations.ts
  ddionrails/api/views/datasets.py
  ddionrails/data/imports.py
  ddionrails/imports/manager.py
  templates/data/variable_detail.html
Due: isort, black, unittest, jest, pylint, bandit

Fix siblings being matched through None
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Build web image in ci pipeline
  docker-compose-ci.yml
Due: none

Install explicitly as root in ci
  .github/workflows/system-tests.yml
Due: none

Update dependencies
  package-lock.json
  poetry.lock
Due: none

Stop display of current variable in relations
  assets/js/variable_relations_concepts.ts
  templates/data/variable_detail.html
Due: jest

Fix bundling issue
  assets/scss/index.scss
Due: none

Refactor translations
  templates/data/variable_detail.html
  templates/data/variable_info.html
Due: none

Move privilege drop to entrypoint
  docker-compose.yml
  docker/ddionrails/Dockerfile
  docker/ddionrails/entrypoint.sh
Due: none

Refactor display of current variable
  assets/js/tables/current_variable_labels.ts
  assets/js/variable_labels.ts
  assets/scss/index.scss
  assets/scss/variables.scss
  ddionrails/api/views/datasets.py
  templates/data/translation_table.html
  templates/data/variable_detail.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

Add pyright install to dev image
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Start QuestionItem API Endpoint
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views/instruments.py
  package-lock.json
  package.json
  templates/data/variable_info.html
Due: isort, black, unittest, pylint, bandit

Move related question ingestion to js and API
  assets/js/tables/current_variable_labels.ts
  assets/js/tables/question_item_table.ts
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views/instruments.py
  ddionrails/data/views.py
  package.json
  templates/data/variable_detail.html
  templates/data/variable_info.html
  tests/api/test_views.py
  tsconfig.json
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

Update gitpython
  poetry.lock
  pyproject.toml
Due: none
