Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path=pyproject.toml
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config=pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

jest:
  name: TypeScript unittests
  entry: jest
  language: system
  pass_filenames: false

pylint:
  name: lint python code (pylint)
  entry: python3.11 -m pylint --load-plugins=pylint_django,pylint_django.checkers.migrations --rcfile=pyproject.toml
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit --configfile=pyproject.toml
  language: system
  pass_filenames: true

Change pid path to work with and without trailing /
  config/urls.py
Due: isort, black, unittest, pylint, bandit

Add PID handling
  config/urls.py
  ddionrails/base/views.py
  ddionrails/studies/migrations/0005_study_version.py
  ddionrails/studies/models.py
  templates/pages/pid_archive.html
Due: isort, black, unittest, pylint, bandit

Remove deprecation warning in tests
  tests/functional/browser/conftest.py
Due: isort, black, unittest, pylint, bandit

chore: replace psycopg2 with psycopg3
  Pipfile
Due: none

chore: fix typos
  CHANGELOG.md
  assets/js/basket_button.ts
  assets/js/search/components/searches/helpers.js
  assets/js/search/helpers.js
  assets/js/search/main.js
  assets/js/search/router.js
  assets/js/visualization.js
  ddionrails/api/views/datasets.py
  ddionrails/api/views/studies.py
  ddionrails/imports/imports.py
  ddionrails/imports/management/commands/remove.py
  ddionrails/imports/management/commands/system.py
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  ddionrails/publications/imports.py
  ddionrails/workspace/scripts/soep_r.py
  docker/nginx/nginx.dev.conf
  templates/base.html
  templates/questions/question_info.html
  templates/search/feedback.html
  templates/statistics/feedback.html
  templates/studies/study_topics.html
  tests/config/test_helpers.py
  tests/conftest.py
  tests/data/test_helpers.py
  tests/imports/management_commands/test_remove.py
  tests/imports/management_commands/test_system.py
  tests/imports/test_imports.py
Due: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

Add fixed label column to label table
  assets/js/tables/concept_table.ts
  assets/js/tables/variable_labels.ts
  assets/scss/variables.scss
  package-lock.json
  package.json
Due: jest

Add translation to pid landing page
  templates/pages/pid_archive.html
Due: none

Fix duplicate api routing name
  ddionrails/api/urls.py
Due: isort, black, unittest, pylint, bandit

Update README.md
  README.md
Due: none

Fix Pythonn version link
  README.md
Due: none

Update readme badge images
  README.md
Due: none

Fix dependency conflicts
  Pipfile
  Pipfile.lock
Due: none

Fix missing chunk size in dj elasticsearch dsl
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Fix missing chunk size for other documents
  ddionrails/concepts/documents.py
  ddionrails/publications/documents.py
  ddionrails/statistics/documents.py
Due: isort, black, unittest, pylint, bandit

Backup old search and init new
  assets/js/old_search/App.vue
  assets/js/old_search/components/facets/AnalysisUnitFacet.vue
  assets/js/old_search/components/facets/ConceptualDatasetFacet.vue
  assets/js/old_search/components/facets/PeriodFacet.vue
  assets/js/old_search/components/facets/PublicationTypeFacet.vue
  assets/js/old_search/components/facets/PublicationYearFacet.vue
  assets/js/old_search/components/facets/StudyFacet.vue
  assets/js/old_search/components/results/ConceptResult.vue
  assets/js/old_search/components/results/PublicationResult.vue
  assets/js/old_search/components/results/QuestionResult.vue
  assets/js/old_search/components/results/StatisticsResult.vue
  assets/js/old_search/components/results/TopicResult.vue
  assets/js/old_search/components/results/VariableResult.vue
  assets/js/old_search/components/searches/BaseSearch.vue
  assets/js/old_search/components/searches/ConceptSearch.vue
  assets/js/old_search/components/searches/PublicationSearch.vue
  assets/js/old_search/components/searches/QuestionSearch.vue
  assets/js/old_search/components/searches/StatisticsSearch.vue
  assets/js/old_search/components/searches/TopicSearch.vue
  assets/js/old_search/components/searches/VariableSearch.vue
  assets/js/old_search/components/searches/helpers.js
  assets/js/old_search/helpers.js
  assets/js/old_search/main.js
  assets/js/old_search/router.js
  assets/js/search/main.ts
  webpack.config.js
Due: eslint--fix, eslint, jest

Add elastic UI dependency
  package-lock.json
  package.json
Due: none

Add basic search ui connector
  assets/js/search/main.ts
Due: jest

Create minimal working react integration
  assets/js/search/main.ts
  package-lock.json
  package.json
  tsconfig.json
Due: jest

Get jsx to work
  assets/js/search/main.ts
  assets/js/search/main.tsx
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint--fix, eslint, jest

Add App module
  assets/js/search/app.tsx
  assets/js/search/main.tsx
Due: none

Fix loading issues
  assets/js/search/app.tsx
  assets/js/search/main.tsx
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Add customized result sketch
  assets/js/search/app.tsx
  assets/js/search/view_customisations/variable_result_view.tsx
  assets/scss/search.scss
Due: none

Sort facet groups alphabetically
  assets/js/search/app.tsx
  assets/js/search/view_customisations/SortedFacet_view.tsx
Due: none

Move search body to the left
  assets/scss/search.scss
Due: none

Fix sorting
  assets/js/search/app.tsx
Due: none

Add period to results
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Enable search hit highlighting
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Update django-rq for django 5.0 compatibility
  Pipfile
  Pipfile.lock
Due: none

Add autocomplete view
  assets/js/search/app.tsx
  assets/js/search/search_configs.ts
  assets/js/search/view_customisations/Autocomplete_view.tsx
Due: jest

Add clickable link to autosuggestion
  assets/js/search/app.tsx
  assets/js/search/view_customisations/Autocomplete_view.tsx
Due: none

Refactor autocomplete view
  assets/js/search/view_customisations/Autocomplete_view.tsx
Due: none

Rename modules for consistency
  assets/js/search/app.tsx
  assets/js/search/view_customisations/autocomplete_view.tsx
  assets/js/search/view_customisations/sorted_facet_view.tsx
Due: none

Change variable result metadata order
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Modularize results
  assets/js/search/view_customisations/variable_result_view.tsx
Due: none

Replace ConceptualDatasetImport
  ddionrails/concepts/imports.py
  ddionrails/imports/manager.py
  tests/concepts/test_imports.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  jest: any of: .*\.ts$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
