Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: ./.pre_commit_unittest_handler.sh run_unittest
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: ./.pre_commit_unittest_handler.sh run_pylint
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Fix multi converter registration
  config/urls.py
  ddionrails/api/views/webhooks.py
Due: isort, black, unittest, pylint, bandit

Fix navigation test selector
  tests/functional/browser/test_navigation.py
Due: isort, black, unittest, pylint, bandit

Fix debug toolbar test incompatibility
  config/settings/testing.py
Due: isort, black, unittest, pylint, bandit

Set debug to False in config check
  .github/workflows/system-tests.yml
Due: none

Remove djang filer dependency
  poetry.lock
  pyproject.toml
Due: none

Update nvim in web dev-image
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Remover pillow dependency
  tests/conftest.py
  tests/data/test_imports.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

UPdate eslint-plugin
  package-lock.json
  package.json
Due: none

Update docker nvim dev container
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Fix filtering of related question in var view
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Fix search autocomplete
  assets/js/search/search_components/autocomplete.tsx
Due: none

Format autocomplete module
  assets/js/search/search_components/autocomplete.tsx
Due: none

Create dataclasses to improve Factories
  tests/data_classes.py
Due: isort, black, unittest, pylint, bandit

Add question items to question search
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/publication_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/topic_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/scss/search.scss
  ddionrails/instruments/documents.py
  tests/instruments/test_documents.py
Due: isort, black, unittest, pylint, bandit

Refactor User factory
  tests/factories.py
Due: isort, black, unittest, pylint, bandit

Sort related questions in modal
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Fix the look of modal headers
  assets/scss/index.scss
  templates/data/variable_info.html
  templates/description_modal.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  templates/statistics/statistics_detail.html
  templates/studies/study_topics.html
Due: none

Add api view for related_variables
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Add empty test and todo
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add variable meta data as meta tags
  templates/base.html
  templates/base_study.html
  templates/data/variable_detail.html
Due: none

Start adding new variable relations table
  assets/js/variable_relations.ts
  ddionrails/api/serializers.py
  templates/data/variable_detail.html
Due: isort, black, unittest, jest, pylint, bandit

Add basic setup and api request
  assets/js/variable_relations.ts
  templates/data/variable_detail.html
  webpack.config.js
Due: eslint--fix, eslint, jest

Add basic long variable nodes to info box
  assets/js/variable_relations.ts
  ddionrails/api/views/datasets.py
  templates/data/variable_info.html
Due: isort, black, unittest, jest, pylint, bandit

Finalize functionality adding long vars to infobox
  assets/js/variable_relations.ts
  assets/scss/variables.scss
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, jest, pylint, bandit

Refactor and add filling of var relations card
  assets/js/variable_relations.ts
  assets/scss/variables.scss
Due: jest

Add period name to variable view html head
  templates/data/variable_detail.html
Due: none

Add sibling relation and harmonization flags
  ddionrails/api/views/datasets.py
  ddionrails/data/imports.py
  ddionrails/data/migrations/0005_variable_harmonization_variable_is_harmonized_and_more.py
  ddionrails/data/models/transformation.py
  ddionrails/data/models/variable.py
  ddionrails/imports/manager.py
Due: isort, black, unittest, pylint, bandit

Add sibling relations to frontend
  assets/js/variable_relations.ts
  assets/scss/variables.scss
Due: jest

Reword longa variable text
  assets/js/variable_relations.ts
Due: jest

Filter out duplicates in variable relation API
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Add concept icons in variable relations
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/scss/variables.scss
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
  templates/data/variable_detail.html
  tests/api/test_views.py
Due: isort, black, unittest, jest, pylint, bandit

Add relation toggle buttons; visual part only
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/scss/variables.scss
  templates/data/variable_detail.html
Due: jest

Add related variable toggle button functionality
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/js/variable_relations_toggle.ts
  templates/data/variable_detail.html
Due: jest

Hide icons if var has multiple relation
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  assets/js/variable_relations_toggle.ts
Due: jest

Add css class to hide withour width rescale
  assets/js/variable_relations_toggle.ts
  assets/scss/index.scss
Due: jest

Change input output icons
  assets/js/variable_relations.ts
  assets/scss/variables.scss
  templates/data/variable_detail.html
Due: jest

Add missing periods through concept ingestion
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  package-lock.json
Due: jest
