Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: >-
          python3.11 -m pylint
          --load-plugins=pylint_django,pylint_django.checkers.migrations
          --rcfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Work on sort by translation
  assets/js/search/app.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/sort_by.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/scss/search.scss
  ddionrails/concepts/documents.py
  ddionrails/publications/documents.py
Due: isort, black, unittest, pylint, bandit

Fix and improve publication headers
  assets/js/search/result_customizations/publications_result.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/scss/search.scss
Due: none

Create neglected migrations for minor db refactor
  ddionrails/data/migrations/0004_alter_dataset_study.py
  ddionrails/instruments/migrations/0005_alter_question_items.py
Due: isort, black, unittest, pylint, bandit

Fix publication facets
  assets/js/search/search_components/facets.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  ddionrails/publications/admin.py
  ddionrails/publications/documents.py
  ddionrails/publications/forms.py
  ddionrails/publications/migrations/0003_remove_publication_sub_type_publication_type.py
  ddionrails/publications/models.py
  templates/publications/publication_detail.html
  tests/config/test_urls.py
  tests/conftest.py
  tests/publications/test_documents.py
Due: isort, black, unittest, pylint, bandit

Add value labels to variable search
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/scss/search.scss
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Fix snippet length for general search result headers
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/scss/search.scss
  tsconfig.json
Due: none

Fix webpack building error
  package-lock.json
  webpack.config.js
Due: eslint--fix, eslint

Add snippets to variable results
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
Due: none

Handle languages in variable tooltip
  assets/js/search/result_customizations/variable_result.tsx
Due: none

Remove console.log calls
  assets/js/search/result_customizations/publications_result.tsx
Due: none

Filter query params that are not page size
  assets/js/search/app.tsx
Due: none

Change serch in study link for new search
  templates/nav/study.html
Due: none

Fix display of study in result bodies
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/topic_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
Due: none

Update dependencies
  package-lock.json
Due: none

Fix tests
  ddionrails/concepts/documents.py
  ddionrails/data/documents.py
  tests/concepts/test_documents.py
  tests/data/test_documents.py
  tests/functional/browser/search/test_search.py
  tests/functional/imports/test_imports.py
  tests/instruments/test_documents.py
  tests/publications/test_documents.py
Due: isort, black, unittest, pylint, bandit

Add nvim dev dockerfile that uses python 3.12
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Fix dependency problems
  Pipfile
  Pipfile.lock
  assets/js/tables/concept_table.ts
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/variable_labels.ts
  assets/js/tables/variable_table.ts
  assets/js/topics.js
  assets/scss/topics.scss
  assets/types/datatables.d.ts
  config/settings/base.py
  docker/ddionrails/Dockerfile
  docker/ddionrails/dev/nvim.Dockerfile
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

Add emmet lsp to dev dependencies
  package.json
Due: none

Update production dockerfile for poetry use
  docker/ddionrails/Dockerfile
Due: none

Refactor nvim.Dockerfile
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Update CHANGELOG for v7.4.0
  CHANGELOG.md
Due: none

Fix ci pipeline installation
  .github/workflows/system-tests.yml
  docker-compose-ci.yml
Due: none

Add ripgrep install to nvim dev container
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Add informational text for statistics navigation
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: none

Translate statistics information modal
  .pre-commit-config.yaml
  ddionrails/statistics/views.py
  templates/statistics/statistics_detail.html
Due: isort, black, unittest, pylint, bandit

Fix some tests
  tests/concepts/test_documents.py
  tests/data/test_documents.py
Due: isort, black, unittest, pylint, bandit

Update dev setup
  .devcontainer.json
  poetry.lock
  pyproject.toml
Due: none

Add installs; remove uninstalls to fix tests
  .github/workflows/system-tests.yml
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Replace deprecated unittest element
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Fix syntax error
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Fix test order
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Install typescript sever in nvim docker image
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Set limit for label table and variable visualization
  assets/js/tables/variable_labels.ts
  assets/js/variable_labels.ts
  assets/js/visualization.js
  package.json
Due: eslint--fix, eslint, jest

Fix dev setup for javascript
  docker/ddionrails/dev/nvim.Dockerfile
  package-lock.json
Due: none

Format javascript file
  assets/js/visualization.js
Due: eslint--fix, eslint

Update dependencies
  docker/ddionrails/dev/dev.Dockerfile
  package.json
Due: none

Remove broken image link
  templates/statistics/statistics_navigation.html
Due: none
