Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Change ci setup
  docker-compose-ci.yml
  tests/functional/browser/test_javascript.py
Due: isort, black, unittest, pylint, bandit

Remove UI test temporarily
  tests/functional/browser/test_javascript.py
Due: isort, black, unittest, pylint, bandit

Update datatables.net
  package-lock.json
  package.json
Due: none

Update ansi-regex
  package-lock.json
  package.json
Due: none

Add rendering for cat question item block
  assets/js/questions.js
  assets/scss/questions.scss
  ddionrails/instruments/models/question_item.py
  ddionrails/instruments/views.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Implement number field rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Add chr type rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Unify int and chr rendering
  assets/js/questions.js
Due: eslint--fix, eslint

Change chr input icon
  assets/js/questions.js
Due: eslint--fix, eslint

Add bin type rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Render two languages
  assets/js/questions.js
  templates/questions/question_detail.html
Due: eslint--fix, eslint

Fix CATSingle answer rendering
  assets/js/questions.js
Due: eslint--fix, eslint

Refactor to remove redundancies
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Fix QuestionItem dict conversion
  ddionrails/instruments/models/question_item.py
Due: isort, black, unittest, pylint, bandit

Change radio button placement
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Add questionItem instruction rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Move language into the global scope
  assets/js/questions.js
Due: eslint--fix, eslint

Split answer import from answer relation import
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_import.py
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Fix answer prefix rendering
  assets/js/questions.js
Due: eslint--fix, eslint

Reduce database calls in question view
  config/urls.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/views.py
  templates/questions/question_info.html
  templates/questions/question_table.html
  templates/questions/related_questions.html
  tests/conftest.py
  tests/instruments/factories.py
  tests/instruments/test_models.py
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Refactor question view to fit new specifications
  config/urls.py
  ddionrails/data/models/dataset.py
  ddionrails/data/models/variable.py
  ddionrails/data/views.py
  ddionrails/instruments/models/instrument.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/views.py
  templates/data/variable_list.html
  templates/data/variable_result.html
  templates/questions/item_partial.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Fix tests
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Fix typo
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Improve variable_view; remove period_fallback
  ddionrails/data/models/variable.py
  ddionrails/data/views.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/views.py
  templates/data/related_variables.html
  templates/data/variable_detail.html
  templates/data/variable_info.html
  templates/data/variable_table.html
  templates/questions/question_result.html
  templates/studies/topic_question_table.html
  templates/studies/topic_variable_table.html
  templates/workspace/basket_detail.html
  templates/workspace/basket_variable.html
  tests/data/test_models.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Redesign navigation between questions
  assets/scss/questions.scss
  templates/questions/question_detail.html
  templates/questions/question_info.html
Due: none

Implement description for variables and questions
  assets/js/description_modal.js
  assets/js/questions.js
  assets/js/variables.js
  assets/scss/description_modal.scss
  config/helpers.py
  ddionrails/data/models/variable.py
  ddionrails/imports/helpers.py
  ddionrails/instruments/models/question.py
  templates/data/variable_detail.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  tests/imports/test_helpers.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Change question info text
  templates/questions/question_detail.html
  templates/questions/question_info.html
Due: none

Fix element hiding
  assets/scss/index.scss
Due: none

Add answer import
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/models/__init__.py
  tests/imports/test_data/questions.csv
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Add main question import
  ddionrails/instruments/imports.py
  tests/conftest.py
  tests/functional/test_data/some-study/ddionrails/instruments/some-instrument.json
  tests/imports/test_data/answers.csv
  tests/imports/test_data/instruments.csv
  tests/imports/test_data/questions.csv
  tests/imports/test_data/some-questionnaire.json
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Remove redundand attribute from question model
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Add question import to import manager
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_import.py
  tests/functional/imports/test_imports.py
  tests/functional/test_data/some-study/ddionrails/questions.csv
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Add Models for question items and answers
  ddionrails/imports/helpers.py
  ddionrails/instruments/models/answer.py
  ddionrails/instruments/models/question_item.py
Due: isort, black, unittest, pylint, bandit

Add barebones QuestionItems import
  ddionrails/instruments/imports.py
  ddionrails/instruments/migrations/0006_alter_questionitem_question.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/models/question_item.py
  tests/imports/test_data/questions.csv
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit
