Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Update alpine Docker tag to v3.11.6
  docker/postfix/Dockerfile
Due: none

Update dependency vue-loader to ^15.9.2
  package-lock.json
  package.json
Due: none

Update dependency webpack to ^4.43.0
  package-lock.json
  package.json
Due: none

Update nginx Docker tag to v1.18
  docker-compose.yml
Due: none

Update dependency @appbaseio/reactivesearch-vue to ^1.3.0
  package-lock.json
  package.json
Due: none

Update dependency css-loader to ^3.5.3
  package-lock.json
  package.json
Due: none

Update dependency node-sass to ^4.14.0
  package-lock.json
  package.json
Due: none

Update dependency prettier to ^2.0.5
  package-lock.json
  package.json
Due: none

Update dependency style-loader to ^1.2.1
  package-lock.json
  package.json
Due: none

Update javascript lockfile
  package-lock.json
  package.json
Due: none

Update javascript lockfile (#1197)
  package-lock.json
  package.json
Due: none

[:beetle: patch] Update changelog for v4.4.1
  CHANGELOG.md
Due: none

[:beetle: patch] Update changelog for v4.4.1 (#1198)
  CHANGELOG.md
Due: none

Fix basket button API authentication (#1201)
  assets/js/basket_button.js
  assets/js/topics.js
  templates/data/variable_detail.html
  templates/studies/study_topics.html
  templates/workspace/basket_detail.html
Due: eslint--fix, eslint

Fix display of dataTables
  assets/js/index.js
  assets/scss/index.scss
Due: eslint--fix, eslint

Fix display of dataTables (#1205)
  assets/js/index.js
  assets/scss/index.scss
Due: eslint--fix, eslint

Update Javascript dependencies
  package-lock.json
  package.json
Due: none

Update dependency cspell to ^4.0.61
  package-lock.json
  package.json
Due: none

Lock file maintenance
  package-lock.json
Due: none

Refactor variable importer
  ddionrails/data/imports.py
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Move handling of dangling BasketVariables
  ddionrails/data/imports.py
  ddionrails/imports/management/commands/update.py
Due: isort, black, unittest, pylint, bandit

DEV Add bookmark extension to dev container
  .devcontainer.json
Due: none

Fix variable retrieval during import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Fix test assumption
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Refactor BasketVariable unittests
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Refactor variable import
  ddionrails/data/imports.py
  ddionrails/workspace/models/basket_variable.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Refactor clean-import (#1213)
  ddionrails/data/imports.py
  ddionrails/imports/management/commands/update.py
  ddionrails/workspace/models/basket_variable.py
  tests/data/test_imports.py
  tests/functional/imports/test_imports.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Fix Changelog link
  CHANGELOG.md
Due: none

[:beetle: patch] Update changelog for v4.4.2
  CHANGELOG.md
Due: none

[:beetle: Patch] Update changelog for v4.4.2 (#1214)
  CHANGELOG.md
Due: none

Add variable import test
  tests/data/test_imports.py
  tests/functional/test_data/some-study/ddionrails/variables.csv
Due: isort, black, unittest, pylint, bandit

Add type hints to base import class
  ddionrails/imports/imports.py
Due: isort, black, unittest, pylint, bandit

Add method to handle abandoned concepts
  ddionrails/base/mixins.py
  ddionrails/concepts/imports.py
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  tests/conftest.py
  tests/data/test_imports.py
  tests/functional/imports/test_imports.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Update dependency cspell to ^4.0.63
  package-lock.json
  package.json
Due: none

Update dependency datatables.net-bs4 to v1.10.21
  package-lock.json
  package.json
Due: none

Remove "functional" label from import tests
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
