Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

:tada: Update CHANGELOG for v6.2.0
  CHANGELOG.md
Due: none

Remove splinter dependency
  Pipfile
  Pipfile.lock
  assets/js/search/components/searches/helpers.js
  docker-compose-ci.yml
  setup.cfg
  tests/concepts/test_documents.py
  tests/conftest.py
  tests/functional/browser/conftest.py
  tests/functional/browser/search/conftest.py
  tests/functional/browser/search/test_base_search.py
  tests/functional/browser/search/test_browser_search.py
  tests/functional/browser/search/test_concepts_search.py
  tests/functional/browser/search/test_publications_search.py
  tests/functional/browser/search/test_questions_search.py
  tests/functional/browser/search/test_topics_search.py
  tests/functional/browser/search/test_variables_search.py
  tests/functional/browser/test_navigation.py
  tests/functional/browser/test_workspace.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Refactor statistics import
  ddionrails/statistics/imports.py
  tests/imports/test_data/statistics/categorical/some-other-variable/some-other-variable_year_alter_gr_bildungsniveau.csv
  tests/imports/test_data/statistics/categorical/some-third-variable/some-third-variable_year_alter_gr_bildungsniveau.csv
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Implement usage of y-limits for numerical statistics
  assets/js/statistics.ts
  ddionrails/statistics/views.py
  templates/statistics/statistics_detail.html
Due: isort, black, unittest, pylint, bandit

Migrate statistics.js to typescript
  assets/js/statistics.ts
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Update transfer.server submodule setup
  .gitmodules
Due: none

Format statistics.ts
  assets/js/statistics.ts
Due: none

Update dependencies and typescript linting
  package-lock.json
  package.json
Due: none

Sort studies in menues
  config/views.py
  ddionrails/studies/context_processors.py
  templates/pages/home.html
Due: isort, black, unittest, pylint, bandit

Fix Description modal height
  assets/js/description_modal.ts
  assets/scss/description_modal.scss
  webpack.config.js
Due: eslint--fix, eslint

Migrate basket_button to typescript
  assets/js/basket_button.ts
  assets/js/description_modal.js
  assets/js/index.js
  assets/js/variables.js
  config/views.py
  ddionrails/data/views.py
  templates/data/variable_detail.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Migrate question comparison to typescript
  assets/js/question_comparison.js
  assets/js/question_comparison.ts
  assets/js/question_comparison_functions.js
  webpack.config.js
Due: eslint--fix, eslint

Migrate js file to typescript and refactor
  assets/js/focus_anchor.ts
  assets/js/variables.js
  templates/data/variable_detail.html
  webpack.config.js
Due: eslint--fix, eslint

Migrate questions.js to questions.ts
  assets/js/questions.js
  assets/js/questions.ts
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Refactor questions.ts
  assets/js/questions.ts
Due: none

Refactor question modal handling
  assets/js/description_modal.ts
  templates/data/dataset_detail.html
  templates/data/variable_info.html
  templates/instruments/instrument_detail.html
  templates/questions/question_info.html
Due: none

Add field for sorting in UI to study model
  ddionrails/studies/migrations/0004_study_menu_order.py
  ddionrails/studies/models.py
  setup.cfg
Due: isort, black, unittest, pylint, bandit

Use menu_order field to sort studies in UI
  ddionrails/studies/context_processors.py
Due: isort, black, unittest, pylint, bandit

Format soep_stata.py
  ddionrails/workspace/scripts/soep_stata.py
Due: isort, black, unittest, pylint, bandit

Update pfad_variable creation
  ddionrails/workspace/scripts/soep_config.py
  ddionrails/workspace/scripts/soep_stata.py
Due: isort, black, unittest, pylint, bandit

Update stata variable names in in soep_stata
  ddionrails/workspace/scripts/soep_stata.py
Due: isort, black, unittest, pylint, bandit

Fix prefix mapping from datafiles.json
  ddionrails/workspace/scripts/soep_config.py
Due: isort, black, unittest, pylint, bandit

Refactor soep_stata
  ddionrails/workspace/scripts/soep_stata.py
Due: isort, black, unittest, pylint, bandit

Remove placeholder text in statistics info
  templates/statistics/statistics_detail.html
Due: none

Add new fields to Dataset model and UI
  assets/js/tables/dataset_table.js
  ddionrails/api/serializers.py
  ddionrails/data/imports.py
  ddionrails/data/migrations/0002_dataset_folder_dataset_primary_key.py
  ddionrails/data/models/dataset.py
  templates/data/study_datasets.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Update statistics info text
  templates/statistics/statistics_detail.html
Due: none

Format feedback.ts
  assets/js/feedback.ts
Due: none

Sort variables in statistics_navigation UI
  assets/js/statistics_navigation.ts
Due: none

Change statistics css for better visibility
  assets/scss/statistics.scss
  assets/scss/statistics_navigation.scss
Due: none

Fix feedback link for statistics plot page
  templates/statistics/statistics_detail.html
Due: none

Change filename of statistic csv send by api
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Refactor statistic detail modal
  templates/statistics/statistics_detail.html
Due: none

Update Django to 4.0.7
  Pipfile
  Pipfile.lock
Due: none

:tada: Update CHANGELOG for v6.3.0
  CHANGELOG.md
Due: none

Fix import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Add attachments field to datasets table
  assets/js/tables/dataset_table.js
  assets/scss/table_attachment.scss
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
  templates/data/study_datasets.html
  templates/instruments/study_instruments.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Fix questions.ts
  assets/js/questions.ts
Due: none

Add dataset attachements to variable view
  ddionrails/data/views.py
  templates/data/variable_info.html
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
