Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Add model for variable statistics
  ddionrails/transfer/models.py
Due: isort, black, unittest, pylint, bandit

Add text to buttons
  assets/js/transfer_navigation.js
  assets/scss/transfer_navigation.scss
  templates/transfer/transfer.html
Due: eslint--fix, eslint

Remove ImportPathMixin
  ddionrails/base/migrations/0001_initial.py
  ddionrails/base/mixins.py
  ddionrails/base/models.py
  ddionrails/imports/imports.py
  ddionrails/imports/manager.py
  ddionrails/studies/migrations/0001_initial.py
  ddionrails/studies/models.py
  tests/base/test_mixins.py
  tests/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Add loading animation to plot view
  assets/js/transfer.js
  templates/transfer/transfer_detail.html
Due: eslint--fix, eslint

Match iframe adress protocoll with request
  ddionrails/transfer/views.py
Due: isort, black, unittest, pylint, bandit

Add button design prototype to transfer main-page
  templates/transfer/transfer.html
Due: none

Add generated variables to transfer selection
  ddionrails/transfer/views.py
Due: isort, black, unittest, pylint, bandit

Initialise statistics import tests
  ddionrails/transfer/imports.py
  tests/imports/conftest.py
  tests/imports/test_data/statistics/categorical/some-other-variable/some-other-variable_year.csv
  tests/imports/test_data/statistics/categorical/some-other-variable/some-other-variable_year_alter_gr.csv
  tests/imports/test_data/statistics/categorical/some-other-variable/some-other-variable_year_alter_gr_bildungsniveau.csv
  tests/imports/test_data/statistics/categorical/some-other-variable/some-other-variable_year_bildungsniveau.csv
  tests/imports/test_data/statistics/numerical/some-variable/some-variable_year.csv
  tests/imports/test_data/statistics/numerical/some-variable/some-variable_year_alter_gr.csv
  tests/imports/test_data/statistics/numerical/some-variable/some-variable_year_alter_gr_bildungsniveau.csv
  tests/imports/test_data/statistics/numerical/some-variable/some-variable_year_bildungsniveau.csv
  tests/imports/test_data/variables.csv
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Rename transfer to statistics
  assets/js/statistics.js
  assets/js/statistics_navigation.js
  assets/scss/statistics.scss
  assets/scss/statistics_navigation.scss
  config/settings/base.py
  config/urls.py
  ddionrails/imports/manager.py
  ddionrails/statistics/__init__.py
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0001_initial.py
  ddionrails/statistics/migrations/__init__.py
  ddionrails/statistics/models.py
  ddionrails/statistics/urls.py
  ddionrails/statistics/views.py
  ddionrails/transfer/admin.py
  ddionrails/transfer/apps.py
  docker-compose.yml
  docker/environments/django.env.example
  docker/nginx/nginx.dev.conf
  docker/nginx/nginx.example.conf
  templates/nav/study.html
  templates/statistics/statistics.html
  templates/statistics/statistics_detail.html
  tests/imports/test_statistics_import.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add api endpoint to serve stat CSV files
  ddionrails/api/urls.py
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Allow SAMEORIGIN IFRAMES
  config/settings/production.py
  docker/nginx/nginx.dev.conf
  docker/nginx/nginx.example.conf
Due: isort, black, unittest, pylint, bandit

Add API endpoint to serve statistics metadata
  Pipfile
  Pipfile.lock
  ddionrails/api/urls.py
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Add model to store API data
  ddionrails/imports/manager.py
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0001_initial.py
  ddionrails/statistics/models.py
  tests/imports/conftest.py
Due: isort, black, unittest, pylint, bandit

Add basic statistics import
  ddionrails/statistics/imports.py
  tests/imports/test_data/statistics/categorical/some-third-variable/some-third-variable_year.csv
  tests/imports/test_data/statistics/categorical/some-third-variable/some-third-variable_year_alter_gr.csv
  tests/imports/test_data/statistics/categorical/some-third-variable/some-third-variable_year_alter_gr_bildungsniveau.csv
  tests/imports/test_data/statistics/categorical/some-third-variable/some-third-variable_year_bildungsniveau.csv
  tests/imports/test_data/statistics/numerical/some-third-variable/some-third-variable_year.csv
  tests/imports/test_data/statistics/numerical/some-third-variable/some-third-variable_year_alter_gr.csv
  tests/imports/test_data/statistics/numerical/some-third-variable/some-third-variable_year_alter_gr_bildungsniveau.csv
  tests/imports/test_data/statistics/numerical/some-third-variable/some-third-variable_year_bildungsniveau.csv
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Link independent variables with statistics
  ddionrails/imports/helpers.py
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0001_initial.py
  ddionrails/statistics/models.py
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Add import for IndependentVariables
  ddionrails/statistics/imports.py
  ddionrails/statistics/models.py
  tests/imports/test_data/statistics/categorical/some-other-variable/meta.json
  tests/imports/test_data/statistics/categorical/some-third-variable/meta.json
  tests/imports/test_data/statistics/numerical/some-third-variable/meta.json
  tests/imports/test_data/statistics/numerical/some-variable/meta.json
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Integrate new statistics API
  assets/js/statistics.js
  ddionrails/api/views.py
  ddionrails/statistics/imports.py
  templates/statistics/statistics_detail.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Revert npm version
  package-lock.json
Due: none

Refactor statistics navigation
  assets/js/statistics_navigation.ts
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: none

Update lockfile
  package-lock.json
Due: none

Improve variable api performance
  ddionrails/api/views.py
  ddionrails/concepts/models.py
  ddionrails/data/models/variable.py
  ddionrails/statistics/views.py
  templates/statistics/statistics.html
  tests/api/test_views.py
  tests/concepts/test_documents.py
  tests/concepts/test_models.py
  tests/conftest.py
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Add search for statistics
  assets/js/search/App.vue
  assets/js/search/components/results/StatisticsResult.vue
  assets/js/search/components/searches/StatisticsSearch.vue
  assets/js/search/router.js
  config/urls.py
  ddionrails/statistics/documents.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Remove statistics import workaround
  ddionrails/statistics/imports.py
Due: isort, black, unittest, pylint, bandit

Remove compy paste remnants
  assets/js/search/components/searches/StatisticsSearch.vue
Due: none

Dynamically generate index for variable stats
  ddionrails/statistics/views.py
  templates/statistics/statistics.html
Due: isort, black, unittest, pylint, bandit

Add basic topic statistics navigation
  assets/js/statistics_navigation.js
  assets/js/statistics_navigation.ts
  config/urls.py
  ddionrails/api/serializers.py
  ddionrails/api/views.py
  ddionrails/concepts/models.py
  ddionrails/data/imports.py
  ddionrails/data/migrations/0005_alter_transformation_id.py
  ddionrails/data/migrations/0006_variable_statistics_type.py
  ddionrails/data/models/variable.py
  ddionrails/statistics/urls.py
  ddionrails/statistics/views.py
  templates/statistics/statistics.html
  templates/statistics/statistics_navigation.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Update npm
  package-lock.json
  package.json
Due: none

Add info texts
  templates/statistics/statistics_detail.html
Due: none

Remove hard coded statistics variables
  ddionrails/statistics/views.py
Due: isort, black, unittest, pylint, bandit

Add second navigation option
  assets/js/statistics_navigation.ts
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: none

Refactor statistics storage and retrieval
  ddionrails/api/serializers.py
  ddionrails/api/views.py
  ddionrails/data/imports.py
  ddionrails/data/migrations/0007_variable_statistics_flag.py
  ddionrails/data/models/variable.py
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0002_alter_variablestatistic_statistics.py
  ddionrails/statistics/models.py
  templates/statistics/statistics_navigation.html
Due: isort, black, unittest, pylint, bandit

Add switch to disable statistics module
  config/settings/base.py
  ddionrails/studies/context_processors.py
  templates/nav/study.html
Due: isort, black, unittest, pylint, bandit

Render description_de markdown in statistics info
  Pipfile
  ddionrails/base/templatetags/__init__.py
  ddionrails/base/templatetags/metadata_display.py
  templates/statistics/statistics_detail.html
Due: isort, black, unittest, pylint, bandit

Refactor debug mode url collection
  config/urls.py
Due: isort, black, unittest, pylint, bandit

Handle search feedback routing
  assets/js/search_feedback.ts
  ddionrails/api/views.py
  templates/search/feedback.html
Due: isort, black, unittest, pylint, bandit

:tada: Update CHANGELOG for v5.4.0
  CHANGELOG.md
Due: none

Fix search result link rendering
  assets/js/search/components/results/PublicationResult.vue
  assets/js/search/components/results/TopicResult.vue
  assets/js/search/components/results/VariableResult.vue
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Add SHOW_STATISTICS switch to search ui
  assets/js/search/App.vue
  webpack.config.js
Due: eslint--fix, eslint

Fix typo
  templates/search/feedback.html
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
