Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Remove obsolete scss import
  assets/scss/topics.scss
Due: none

Remove TODO
  assets/js/topics.js
Due: eslint--fix, eslint

Fix authentication in rest framework for anon user
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Improve error handling for topic imports
  ddionrails/concepts/imports.py
Due: isort, black, unittest, pylint, bandit

:rocket: Major: Update CHANGELOG for release
  CHANGELOG.md
Due: none

:rocket: Major: Update CHANGELOG for release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Set outgoing mail address via env variable
  config/settings/base.py
  docker/environments/django.env.example
Due: isort, black, unittest, pylint, bandit

Limit search fields for variable search
  assets/js/search/components/searches/VariableSearch.vue
Due: none

Set outgoing mail address via env variable
  config/settings/base.py
  config/urls.py
  ddionrails/base/views.py
  docker/environments/django.env.example
  templates/pages/imprint.html
Due: isort, black, unittest, pylint, bandit

:beetle: Patch: update CHANGELOG for release
  CHANGELOG.md
Due: none

Fix links in question view
  ddionrails/instruments/models/question.py
  ddionrails/instruments/views.py
  templates/data/variable_result.html
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Change example env variable
  docker/environments/django.env.example
Due: none

Fix whitespace in example env file
  docker/environments/django.env.example
Due: none

Replace travis badge with GitHub badge
  README.md
Due: none

:beetle: Update CHANGELOG for v5.0.2
  CHANGELOG.md
Due: none

Update django version in lockfile
  Pipfile.lock
Due: none

Fix use of deprecated parts of django and bandit
  .pre-commit-config.yaml
  ddionrails/concepts/documents.py
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v5.0.3
  CHANGELOG.md
Due: none

Update urllib3
  Pipfile.lock
Due: none

Fix codecov workflow step
  .github/workflows/system-tests.yml
Due: none

Fix links in label table helper
  ddionrails/data/helpers.py
Due: isort, black, unittest, pylint, bandit

Fix image import patch
  ddionrails/imports/helpers.py
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v5.0.4
  CHANGELOG.md
Due: none

Refactor concept View
  .pre-commit-config.yaml
  assets/js/concept_table.js
  ddionrails/api/serializers.py
  templates/concepts/concept_detail.html
  templates/concepts/concept_result.html
  templates/concepts/variable_table.html
  tests/api/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

:tada: Update CHANGELOG for v5.1.0
  CHANGELOG.md
Due: none

Restore falsely deleted template
  templates/concepts/concept_result.html
Due: none

:beetle: Update CHANGELOG for v5.1.1
  CHANGELOG.md
Due: none

Fix implicit use of str(database_object) in templates
  templates/data/dataset_detail.html
  templates/data/variable_detail.html
  templates/instruments/instrument_list.html
  templates/questions/question_detail.html
  templates/questions/question_result.html
  templates/studies/study_detail.html
  templates/workspace/basket_detail.html
Due: none

Fix routing for study objects
  config/urls.py
  tests/studies/test_models.py
Due: isort, black, unittest, pylint, bandit

Fix overwriting of attachments during import
  ddionrails/publications/imports.py
Due: isort, black, unittest, pylint, bandit

Make use of AutoField id field explicit
  ddionrails/base/migrations/0004_auto_20210624_0828.py
  ddionrails/base/models.py
  ddionrails/data/migrations/0005_alter_transformation_id.py
  ddionrails/data/models/transformation.py
  ddionrails/instruments/migrations/0004_auto_20210624_0828.py
  ddionrails/instruments/models/concept_question.py
  ddionrails/instruments/models/question_variable.py
  ddionrails/publications/migrations/0002_alter_attachment_id.py
  ddionrails/publications/models.py
  ddionrails/studies/migrations/0003_alter_topiclist_id.py
  ddionrails/studies/models.py
  ddionrails/workspace/migrations/0006_auto_20210624_0828.py
  ddionrails/workspace/models/basket.py
  ddionrails/workspace/models/basket_variable.py
  ddionrails/workspace/models/script.py
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v5.1.2
  CHANGELOG.md
Due: none

Refactor variable datavisualization
  assets/js/visualization.js
  assets/scss/visualization.scss
  templates/data/variable_detail.html
Due: eslint--fix, eslint

Display question scale only when present
  templates/questions/item_partial.html
Due: none

Add v36 script warning
  templates/workspace/basket_actions_partial.html
Due: none

Refactor questions images import
  config/settings/base.py
  ddionrails/imports/helpers.py
  ddionrails/imports/manager.py
  ddionrails/instruments/imports.py
  tests/imports/management_commands/test_update.py
  tests/imports/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Update Pipfile.lock
  Pipfile.lock
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
