Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Update github checkout action
  .github/workflows/system-tests.yml
Due: none

Fix publication import
  ddionrails/publications/imports.py
Due: isort, black, unittest, pylint, bandit

chore: add github-actions to dependabot config
  .github/dependabot.yml
Due: none

Fix dependency incompatibility
  Pipfile
  Pipfile.lock
Due: none

Specify dir for github-action dependabot section
  .github/dependabot.yml
Due: none

Specify minimal djangorestframework version
  .github/workflows/system-tests.yml
  Pipfile
  Pipfile.lock
Due: none

Fix crispy-forms
  Pipfile
  Pipfile.lock
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Update pipenv in dev image to fix ci pipeline
  .github/workflows/system-tests.yml
  Pipfile
  Pipfile.lock
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Update package-lock.json
  package-lock.json
Due: none

chore: consolidate configuration files
  .pre-commit-config.yaml
  bandit.yml
  pyproject.toml
  setup.cfg
Due: none

Change mypy override module to module name syntax
  pyproject.toml
Due: none

Replace pyproject.toml with setup.cfg in ci
  docker-compose-ci.yml
Due: none

Fix focus on anchor for empty hash
  assets/js/focus_anchor.ts
Due: none

Fix directory for dependabot github-action
  .github/dependabot.yml
Due: none

chore: pin github actions in CI
  .github/workflows/system-tests.yml
Due: none

chore: add lint job in CI
  .github/workflows/system-tests.yml
Due: none

pipx -> pip
  .github/workflows/system-tests.yml
Due: none

add graphviz install
  .github/workflows/system-tests.yml
Due: none

Fix dependency incompatibility
  Pipfile.lock
Due: none

Specify minimal djangorestframework version
  .github/workflows/system-tests.yml
Due: none

Update pipenv in dev image to fix ci pipeline
  .github/workflows/system-tests.yml
Due: none

chore: pin github actions in CI (#2515)
  .github/workflows/system-tests.yml
Due: none

Use dockerhub image for statistics-server
  docker-compose.yml
Due: none

Update selenium
  docker-compose-ci.yml
Due: none

Fix tokenizer name
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Replace view with basic react environment
  .babelrc
  log.txt
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Add yarn
  package-lock.json
  yarn.lock
Due: none

Add minimal react app
  assets/js/react_search/App.jsx
  assets/js/react_search/index.js
  templates/search/search.html
  webpack.config.js
Due: eslint--fix, eslint

Add persistent id field to variable
  ddionrails/data/migrations/0003_variable_pid.py
  ddionrails/data/models/variable.py
Due: isort, black, unittest, pylint, bandit

Update python version for pre-commit
  .pre-commit-config.yaml
Due: none

Limit variable and question api
  ddionrails/api/views/datasets.py
  ddionrails/api/views/instruments.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Move german fields into mixins
  ddionrails/base/mixins.py
  ddionrails/concepts/models.py
Due: isort, black, unittest, pylint, bandit

Start translating templates
  ddionrails/base/mixins.py
  ddionrails/concepts/models.py
  templates/base.html
  templates/concepts/concept_detail.html
  templates/concepts/concept_result.html
  templates/nav/basket.html
  templates/nav/study.html
Due: isort, black, unittest, pylint, bandit

Transport commit
  assets/js/index.ts
  assets/js/language_management.ts
  assets/js/tables/search_input_handling.ts
  assets/js/tables/variable_table.ts
  templates/data/dataset_detail.html
Due: none

Add centralized translation record
  translations.json
Due: none

Add TypeScript function to switch content language
  assets/js/index.ts
Due: none

Enable language switch for Topic view
  assets/js/topics.js
  templates/base.html
  templates/studies/study_topics.html
Due: eslint--fix, eslint
