Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: ./.pre_commit_unittest_handler.sh run_unittest
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: ./.pre_commit_unittest_handler.sh run_pylint
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Update url with search and use query for search
  assets/js/search/search_components/variable_name_search.tsx
  tests/data/test_documents.py
  tests/functional/browser/search/test_browser_search.py
  tests/functional/search_index_fixtures.py
Due: isort, black, unittest, pylint, bandit

Add variable name search explanation
  assets/js/search/app.tsx
  assets/js/search/search_components/variable_name_search.tsx
  assets/scss/search.scss
Due: none

Separate name search navigation visually
  assets/js/search/app.tsx
  assets/scss/search.scss
Due: none

Update remote dev compose file
  docker-compose-remote-dev.yml
Due: none

Update npm packages
  package-lock.json
  package.json
Due: none

Limit related variables in question view and vice versa
  ddionrails/data/views.py
  ddionrails/instruments/views.py
Due: isort, black, unittest, pylint, bandit

Add webhook api endpoint for study updates
  ddionrails/api/urls.py
  ddionrails/api/views/webhooks.py
  ddionrails/studies/migrations/0007_study_webhook_secret.py
  ddionrails/studies/models.py
  tests/api/test_webhook_endpoint.py
Due: isort, black, unittest, pylint, bandit

Use redis to start the impor process in webhook handler
  ddionrails/api/helpers.py
  ddionrails/api/views/webhooks.py
  tests/api/test_webhook_endpoint.py
Due: isort, black, unittest, pylint, bandit

Fix basket backup for webhook update
  ddionrails/api/helpers.py
  ddionrails/workspace/models/basket.py
Due: isort, black, unittest, pylint, bandit

Change caching to use redis; update webhook accordingly
  config/settings/base.py
  ddionrails/api/helpers.py
  ddionrails/studies/views.py
Due: isort, black, unittest, pylint, bandit

Specify caches to delete more directly
  ddionrails/api/helpers.py
Due: isort, black, unittest, pylint, bandit

Add browser cache invalidation to entity tables
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/variable_table.ts
  templates/base_study.html
Due: jest

Fix problem where repo is not updated on import
  ddionrails/imports/git_repos.py
Due: isort, black, unittest, pylint, bandit

Update backup naming
  ddionrails/api/helpers.py
Due: isort, black, unittest, pylint, bandit

Add webhook handling for staging servers
  config/settings/base.py
  ddionrails/api/views/webhooks.py
  tests/api/test_webhook_endpoint.py
Due: isort, black, unittest, pylint, bandit

Fix search publication in study link
  ddionrails/publications/views.py
Due: isort, black, unittest, pylint, bandit

Fix study context for question detail view
  ddionrails/instruments/views.py
Due: isort, black, unittest, pylint, bandit

Remove unused django import export dependency
  ddionrails/workspace/admin.py
  ddionrails/workspace/management/__init__.py
  ddionrails/workspace/management/commands/__init__.py
  ddionrails/workspace/management/commands/backup.py
  ddionrails/workspace/management/commands/restore.py
  ddionrails/workspace/resources.py
  pyproject.toml
  tests/workspace/test_backup.py
Due: isort, black, unittest, pylint, bandit

Update poetry lock file
  poetry.lock
Due: none

Remove django import expoer from base settings
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Fix basket variable backup in clean import
  ddionrails/api/helpers.py
  ddionrails/imports/management/commands/update.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Add test to check if basket backup is recovered
  tests/api/test_webhook_endpoint.py
  tests/conftest.py
  tests/imports/conftest.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Add redirect to starting location for views
  ddionrails/workspace/urls.py
  ddionrails/workspace/views/basket.py
  templates/data/variable_detail.html
  templates/workspace/basket_create.html
Due: isort, black, unittest, pylint, bandit

Display concept name in question info
  templates/questions/question_info.html
Due: none

Fix infinite redirect on search feedback
  config/urls.py
  templates/search/search.html
Due: isort, black, unittest, pylint, bandit

Remove old unused label table class
  ddionrails/data/helpers.py
  tests/data/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Remove custom datadables navigation css
  assets/scss/table_navigation.scss
  templates/concepts/concept_detail.html
  templates/data/dataset_detail.html
  templates/data/study_datasets.html
  templates/instruments/instrument_detail.html
  templates/instruments/study_instruments.html
  templates/questions/question_detail.html
  templates/studies/study_topics.html
  webpack.config.js
Due: eslint--fix, eslint

Update package-lock.json
  package-lock.json
Due: none

Update JavaScript dependencies
  package-lock.json
  package.json
Due: none

Update mocking for TypeScript update
  assets/js/tests/mock.ts
Due: jest

Handle empty concept labels in variable view
  templates/data/variable_info.html
Due: none

Add variables parameter to questions API point
  ddionrails/api/views/instruments.py
  ddionrails/api/views/parameters_definition.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Reformat base and home templates
  poetry.lock
  pyproject.toml
  templates/base.html
  templates/pages/home.html
Due: none

Add landmarks to templates
  templates/base.html
  templates/pages/home.html
Due: none

Add labels to templates
  templates/base.html
Due: none

Fix access. and config issues with dataset table
  assets/js/tables/dataset_table.ts
  assets/js/tables/search_input_handling.ts
  assets/scss/index.scss
  templates/base.html
  templates/data/study_datasets.html
  templates/pages/home.html
Due: jest

Start stremlining the table labeling for datasets
  assets/js/tables/dataset_table.ts
  templates/data/study_datasets.html
Due: jest

Start streamlining the table labeling for datasets
  assets/js/tables/dataset_table.ts
  templates/data/study_datasets.html
Due: jest
