Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

:beetle: Update CHANGELOG for v6.3.1
  CHANGELOG.md
Due: none

Split off generic functions from dataset_table
  assets/js/tables/dataset_table.ts
  assets/js/tables/search_input_handling.ts
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint--fix, eslint

Refactor types and naming
  assets/js/tables/dataset_table.ts
  assets/js/tables/search_input_handling.ts
Due: none

Centralize study metadata template ingestion
  assets/js/tables/dataset_table.ts
  templates/base.html
  templates/base_study.html
  templates/data/dataset_detail.html
  templates/instruments/instrument_detail.html
Due: none

Migrate remaining table modules to typescript
  assets/js/tables/concept_table.js
  assets/js/tables/concept_table.ts
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.js
  assets/js/tables/question_table.ts
  assets/js/tables/variable_table.js
  assets/js/tables/variable_table.ts
  webpack.config.js
Due: eslint--fix, eslint

Add pylance to dev dependencies
  Pipfile
Due: none

Use period label as default for period table column
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  ddionrails/api/serializers.py
Due: isort, black, unittest, pylint, bandit

Add Placeholder to table search
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/variable_table.ts
Due: none

Change sorting of datasets table
  assets/js/tables/dataset_table.ts
Due: none

Update JavaScript dependencies
  package-lock.json
  package.json
Due: none

Exclude node_modules in tsconfig.json
  tsconfig.json
Due: none

Remove duplicate legacy code
  assets/js/concept_table.js
Due: eslint--fix, eslint

Migrate index.js to TypeScript
  assets/js/index.ts
  webpack.config.js
Due: eslint--fix, eslint

Exclude static Folder in tsconfig.json
  tsconfig.json
Due: none

Begin migration of topics.js to topics.ts
  assets/js/topics.ts
  package-lock.json
  package.json
Due: none

Readd bootstrap import in index.ts
  assets/js/index.ts
Due: none

Add types to topics.ts
  assets/js/topics.ts
  package-lock.json
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Fix missing bootstrap import
  assets/js/index.ts
Due: none

Replace topics.js with topics.ts
  assets/js/topics.js
  assets/js/topics.ts
Due: eslint--fix, eslint

Remove string selector intermediate in jQuery Object
  assets/js/topics.ts
Due: none

Add selenium to dev dependencies
  Pipfile
  Pipfile.lock
Due: none

Transport commit
  ddionrails/imports/helpers.py
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_variable_import.py
  ddionrails/instruments/migrations/0003_instrument_datasets.py
  ddionrails/instruments/models/instrument.py
  tests/imports/management_commands/test_update.py
  tests/workspace/test_backup.py
Due: isort, black, unittest, pylint, bandit

Add links between instruments and datasets
  assets/js/index.ts
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_variable_import.py
  ddionrails/instruments/migrations/0003_instrument_datasets.py
  ddionrails/instruments/models/instrument.py
  templates/data/dataset_detail.html
  templates/instruments/instrument_detail.html
  tests/imports/management_commands/test_update.py
  tests/workspace/test_backup.py
Due: isort, black, unittest, pylint, bandit

Fix typo
  ddionrails/imports/helpers.py
Due: isort, black, unittest, pylint, bandit

Disable template cache for development
  config/settings/development.py
Due: isort, black, unittest, pylint, bandit

Fix TypeScript compilation issues
  assets/js/tables/concept_table.ts
  assets/js/tables/dataset_table.ts
  assets/js/tables/instrument_table.ts
  assets/js/tables/question_table.ts
  assets/js/tables/variable_table.ts
  tsconfig.json
Due: none

:tada: Update CHANGHELOG for v6.3.1
  CHANGELOG.md
Due: none

Fix url routing for concepts
  ddionrails/concepts/models.py
Due: isort, black, unittest, pylint, bandit
