Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: >-
          python3.11 -m pylint
          --load-plugins=pylint_django,pylint_django.checkers.migrations
          --rcfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Remove vue and old search
  assets/js/old_search/App.vue
  assets/js/old_search/components/facets/AnalysisUnitFacet.vue
  assets/js/old_search/components/facets/ConceptualDatasetFacet.vue
  assets/js/old_search/components/facets/PeriodFacet.vue
  assets/js/old_search/components/facets/PublicationTypeFacet.vue
  assets/js/old_search/components/facets/PublicationYearFacet.vue
  assets/js/old_search/components/facets/StudyFacet.vue
  assets/js/old_search/components/results/ConceptResult.vue
  assets/js/old_search/components/results/PublicationResult.vue
  assets/js/old_search/components/results/QuestionResult.vue
  assets/js/old_search/components/results/StatisticsResult.vue
  assets/js/old_search/components/results/TopicResult.vue
  assets/js/old_search/components/results/VariableResult.vue
  assets/js/old_search/components/searches/BaseSearch.vue
  assets/js/old_search/components/searches/ConceptSearch.vue
  assets/js/old_search/components/searches/PublicationSearch.vue
  assets/js/old_search/components/searches/QuestionSearch.vue
  assets/js/old_search/components/searches/StatisticsSearch.vue
  assets/js/old_search/components/searches/TopicSearch.vue
  assets/js/old_search/components/searches/VariableSearch.vue
  assets/js/old_search/components/searches/helpers.js
  assets/js/old_search/helpers.js
  assets/js/old_search/main.js
  assets/js/old_search/router.js
  package-lock.json
  package.json
Due: eslint--fix, eslint

Remove left over console.log
  assets/js/search/result_customizations/publications_result.tsx
Due: none

Start implementing search language switch
  assets/js/search/app.tsx
  assets/js/search/language_state.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/scss/search.scss
Due: none

Add translation for concept facets
  assets/js/search/app.tsx
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/facets.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  ddionrails/base/generic_documents.py
  ddionrails/concepts/documents.py
Due: isort, black, unittest, pylint, bandit

Refactor App to centralize language switch
  assets/js/search/app.tsx
  assets/js/search/factory_mappers.tsx
  assets/js/search/language_state.tsx
  assets/js/search/result_customizations/all_result.tsx
  assets/js/search/result_customizations/concept_result.tsx
  assets/js/search/result_customizations/publications_result.tsx
  assets/js/search/result_customizations/question_result.tsx
  assets/js/search/result_customizations/topic_result.tsx
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_configs/all_search_config.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  ddionrails/concepts/documents.py
Due: isort, black, unittest, pylint, bandit

Translate facets for variable search
  assets/js/search/app.tsx
  assets/js/search/search_components/facets.tsx
  assets/js/search/search_configs/variable_search_config.tsx
Due: none

Fix and improve publication headers
  assets/js/search/result_customizations/publications_result.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/scss/search.scss
Due: none

Work on sort by translation
  assets/js/search/app.tsx
  assets/js/search/search_configs/concept_search_config.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/js/search/search_configs/sort_by.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/scss/search.scss
  ddionrails/concepts/documents.py
  ddionrails/publications/documents.py
Due: isort, black, unittest, pylint, bandit

Fix publication facets
  assets/js/search/search_components/facets.tsx
  assets/js/search/search_configs/publication_search_config.tsx
  ddionrails/publications/admin.py
  ddionrails/publications/documents.py
  ddionrails/publications/forms.py
  ddionrails/publications/migrations/0003_remove_publication_sub_type_publication_type.py
  ddionrails/publications/models.py
  templates/publications/publication_detail.html
  tests/config/test_urls.py
  tests/conftest.py
  tests/publications/test_documents.py
Due: isort, black, unittest, pylint, bandit

Create neglected migrations for minor db refactor
  ddionrails/data/migrations/0004_alter_dataset_study.py
  ddionrails/instruments/migrations/0005_alter_question_items.py
Due: isort, black, unittest, pylint, bandit

Add value labels to variable search
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_configs/topic_search_config.tsx
  assets/js/search/search_configs/variable_search_config.tsx
  assets/scss/search.scss
  ddionrails/data/documents.py
Due: isort, black, unittest, pylint, bandit

Fix snippet length for general search result headers
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
  assets/js/search/search_configs/question_search_config.tsx
  assets/scss/search.scss
  tsconfig.json
Due: none

Transport commit
  assets/js/search/result_customizations/variable_result.tsx
  assets/js/search/search_components/result_header.tsx
Due: none

Fix concept import with duplicates
  ddionrails/concepts/imports.py
Due: isort, black, unittest, pylint, bandit

Change statistics button scaling
  assets/js/statistics_navigation.ts
  assets/scss/index.scss
  assets/scss/statistics_navigation.scss
  templates/base.html
  templates/statistics/statistics_navigation.html
Due: jest

Refact statistics navigation for small displays
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: none

Improve scaling for smaller screens
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: none

Improve scalability of plot view
  assets/scss/statistics.scss
  templates/statistics/statistics_detail.html
Due: none

Improve buttons for small devices
  assets/scss/statistics_navigation.scss
Due: none

Add missing scaling range for stat nav
  assets/scss/statistics_navigation.scss
Due: none

Add black plugin to devcontainer setup
  .devcontainer.json
Due: none

Improve scalability of plot view
  assets/scss/statistics.scss
Due: none

Fix rescalining on flipping mobile screen
  assets/scss/index.scss
  templates/base.html
Due: none

Fix vertical scaling for plots
  assets/scss/statistics.scss
Due: none

Add back button for statistics detail
  assets/scss/statistics.scss
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_detail.html
Due: none

Remove feedback from statistics navigation
  templates/statistics/statistics_navigation.html
Due: none

Make navbar thinner for small screens
  assets/scss/index.scss
Due: none

Add titles to statistics navigation
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: none

Bump Bootstrap by mayor version
  assets/scss/index.scss
  package-lock.json
  package.json
Due: none

Fix study dropdown
  assets/scss/index.scss
  templates/base.html
Due: none

Fix bootstrap data-bs attributes
  assets/scss/index.scss
  templates/base.html
  templates/data/variable_detail.html
  templates/data/variable_info.html
  templates/description_modal.html
  templates/instruments/instrument_detail.html
  templates/instruments/study_instruments.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  templates/statistics/statistics_detail.html
  templates/studies/study_topics.html
Due: none

Fix path to test data in test
  assets/js/tests/statistics_navigation_utils_test.ts
Due: jest

Fix Bootstrap navigation toggle "monkeypatch"
  assets/js/index.ts
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: jest

Refactor navigation toggle button
  assets/scss/statistics_navigation.scss
Due: none

Fix statistics variables alignment
  assets/js/statistics_navigation.ts
  assets/scss/statistics_navigation.scss
  templates/statistics/statistics_navigation.html
Due: jest

Fix mobile menue
  assets/scss/index.scss
  templates/base.html
Due: none
