Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Fix Concept import
  ddionrails/concepts/imports.py
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  tests/concepts/conftest.py
  tests/concepts/test_forms.py
  tests/concepts/test_imports.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Add flag to run imports without redis
  ddionrails/imports/management/commands/update.py
  ddionrails/imports/manager.py
  tests/functional/imports/test_imports.py
  tests/functional/test_data/some-study/ddionrails/datasets.csv
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Update dependency cspell to ^4.0.63
  package-lock.json
  package.json
Due: none

Update dependency datatables.net-bs4 to v1.10.21
  package-lock.json
  package.json
Due: none

Lock file maintenance
  package-lock.json
Due: none

Update dependency jquery to ^3.5.1
  package.json
Due: none

Remove "functional" label from import tests
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

[:beetle: patch] Update changelog for v4.4.3
  CHANGELOG.md
Due: none

Add "Search in Study" link to study template
  templates/nav/study.html
Due: none

Update alpine Docker tag to v3.12.0
  docker/postfix/Dockerfile
Due: none

Update dependency minimist to ^1.2.5
  package.json
Due: none

Recouple Baskets to studies
  ddionrails/data/imports.py
  ddionrails/workspace/migrations/0005_auto_20200608_0702.py
  ddionrails/workspace/models/basket.py
  ddionrails/workspace/models/basket_variable.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Update dependency bootstrap to ^4.5.0
  package.json
Due: none

Update dependency node-sass to ^4.14.1
  package.json
Due: none

Update dependency vue-router to ^3.3.2
  package-lock.json
  package.json
Due: none

Update workspace ScriptGenerators for v35
  ddionrails/workspace/datafiles.json
  ddionrails/workspace/datafiles_old.json
  ddionrails/workspace/datafiles_with_long.json
  ddionrails/workspace/mixins.py
  ddionrails/workspace/scripts/soep_config.py
  ddionrails/workspace/scripts/soep_datasets.py
  ddionrails/workspace/scripts/soep_r.py
  ddionrails/workspace/scripts/soep_spss.py
  ddionrails/workspace/scripts/soep_stata.py
  ddionrails/workspace/views/script.py
  tests/workspace/test_mixins.py
  tests/workspace/test_scripts.py
Due: isort, black, unittest, pylint, bandit

Update changelog for v4.5.0 release
  CHANGELOG.md
Due: none

Update dependency @appbaseio/reactivesearch-vue to v1.4.3
  package-lock.json
  package.json
Due: none

Update dependency datatables.net-buttons-bs4 to ^1.6.2
  package.json
Due: none

Update dependency datatables.net-responsive-bs4 to v2.2.5
  package-lock.json
  package.json
Due: none

Fix instanciation of datatable class members
  assets/js/index.js
Due: eslint--fix, eslint

Update dependabot config file
  .github/dependabot.yml
Due: none

Remove renovate config
  package.json
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
