Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Fix concept url test
  tests/concepts/test_models.py
Due: isort, black, unittest, pylint, bandit

:tada: Update CHANGHELOG for v6.3.1
  CHANGELOG.md
Due: none

Update python dependencies
  Pipfile.lock
Due: none

Update requirements installation in pipeline
  .github/workflows/system-tests.yml
Due: none

fix: Change study in TopicResult.vue (#2310)
  assets/js/search/components/results/TopicResult.vue
Due: none

Update package-lock file
  package-lock.json
Due: none

:tada: Update CHANGHELOG for v6.4.0
  CHANGELOG.md
Due: none

Fix admin interface for development
  config/settings/development.py
Due: isort, black, unittest, pylint, bandit

Roll back dev image update
  docker/ddionrails/dev/dev.Dockerfile
Due: none

Fix date typo in CHANGELOG
  CHANGELOG.md
Due: none

Add related question label to statistics view
  ddionrails/statistics/views.py
  templates/statistics/statistics_detail.html
Due: isort, black, unittest, pylint, bandit

Refactor sorting of related questions
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Update soep_stata.py
  ddionrails/workspace/mixins.py
  ddionrails/workspace/scripts/soep_stata.py
  tests/workspace/test_mixins.py
Due: isort, black, unittest, pylint, bandit

Update package-lock.json
  package-lock.json
Due: none

:tada: Update CHANGELOG for 6.4.1
  CHANGELOG.md
Due: none

TODO: FIXME
  ddionrails/imports/manager.py
  ddionrails/workspace/datafiles.json
  ddionrails/workspace/datafiles_old.json
  ddionrails/workspace/datafiles_with_long.json
  ddionrails/workspace/imports.py
  ddionrails/workspace/models/basket_variable.py
  ddionrails/workspace/models/script.py
  ddionrails/workspace/models/script_metadata.py
  ddionrails/workspace/scripts/soep_datasets.py
  tests/workspace/conftest.py
  tests/workspace/test_mixins.py
Due: isort, black, unittest, pylint, bandit

Move datafiles.json into database
  ddionrails/imports/manager.py
  ddionrails/workspace/datafiles.json
  ddionrails/workspace/datafiles_old.json
  ddionrails/workspace/datafiles_with_long.json
  ddionrails/workspace/imports.py
  ddionrails/workspace/migrations/0007_scriptmetadata.py
  ddionrails/workspace/models/__init__.py
  ddionrails/workspace/models/script.py
  ddionrails/workspace/models/script_metadata.py
  ddionrails/workspace/scripts/soep_datasets.py
  tests/workspace/conftest.py
  tests/workspace/test_mixins.py
  tests/workspace/test_models.py
  tests/workspace/test_scripts.py
  tests/workspace/test_views.py
Due: isort, black, unittest, pylint, bandit

:tada: Update CHANGELOG for v6.5.0
  CHANGELOG.md
Due: none

Convert types in script_metadata import
  ddionrails/workspace/imports.py
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v6.5.1
  CHANGELOG.md
Due: none

Fix some outdated names in script generator
  ddionrails/workspace/mixins.py
  ddionrails/workspace/scripts/soep_stata.py
  templates/workspace/basket_actions_partial.html
Due: isort, black, unittest, pylint, bandit

:beetle: Update CHANGELOG for v6.5.2
  CHANGELOG.md
Due: none

Change variable name
  ddionrails/workspace/scripts/soep_r.py
Due: isort, black, unittest, pylint, bandit

Update soep_r script generator
  ddionrails/workspace/scripts/soep_r.py
  tests/workspace/test_scripts.py
Due: isort, black, unittest, pylint, bandit

Fix wave mapping iteration
  ddionrails/workspace/scripts/soep_r.py
Due: isort, black, unittest, pylint, bandit

Fix analysis unit prefix
  ddionrails/workspace/scripts/soep_r.py
Due: isort, black, unittest, pylint, bandit

Update script warning message box
  templates/workspace/basket_actions_partial.html
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Fix basket buttons to add/remove variables
  assets/js/basket_button.ts
  assets/js/basket_view_variable_buttons.ts
  assets/scss/basket.scss
  assets/scss/index.scss
  assets/scss/variables.scss
  ddionrails/workspace/urls.py
  ddionrails/workspace/views/__init__.py
  ddionrails/workspace/views/basket.py
  templates/base_basket.html
  templates/data/variable_detail.html
  templates/workspace/basket_variable.html
  templates/workspace/related_variable_table.html
  tests/workspace/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Add environment variable to env example
  docker/environments/django.env.example
Due: none

Transfer commit
  assets/js/basket_button.ts
  assets/js/variable_view_basket_button.ts
  assets/scss/basket.scss
  templates/data/variable_detail.html
  templates/workspace/basket_detail.html
  templates/workspace/related_variable_table.html
  webpack.config.js
Due: eslint--fix, eslint

Refactor basket js and css
  assets/js/basket_button.ts
  assets/js/variable_view_basket_button.ts
  assets/scss/basket.scss
  templates/data/variable_detail.html
  templates/workspace/basket_detail.html
  templates/workspace/related_variable_table.html
  webpack.config.js
Due: eslint--fix, eslint

Improve variables_images import-error information
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Fix and disable variable images display
  templates/data/variable_detail.html
Due: none

Refactor variable basket buttons
  assets/js/basket_button.ts
  assets/scss/variables.scss
  templates/data/variable_detail.html
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
