Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path=pyproject.toml
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config=pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

jest:
  name: TypeScript unittests
  entry: jest
  language: system
  pass_filenames: false

pylint:
  name: lint python code (pylint)
  entry: python3.11 -m pylint --load-plugins=pylint_django,pylint_django.checkers.migrations --rcfile=pyproject.toml
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit --configfile=pyproject.toml
  language: system
  pass_filenames: true

Replace ConceptualDatasetImport
  ddionrails/concepts/imports.py
  ddionrails/imports/manager.py
  tests/concepts/test_imports.py
Due: isort, black, unittest, pylint, bandit

Update Pipfile.lock
  Pipfile.lock
Due: none

Fix routing of pid variables
  config/urls.py
Due: isort, black, unittest, pylint, bandit

Fix missing chunk_size error
  ddionrails/concepts/documents.py
Due: isort, black, unittest, pylint, bandit

Fix logout button for django 5
  ddionrails/workspace/urls.py
  templates/base.html
Due: isort, black, unittest, pylint, bandit

Format compose file
  docker-compose.yml
Due: none

Update statistics for new metadata
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0003_independentvariable_values.py
  ddionrails/statistics/models.py
Due: isort, black, unittest, pylint, bandit

Stop elasticsearch health check from failing
  docker-compose.yml
Due: none

Refactor statistics import
  ddionrails/statistics/imports.py
Due: isort, black, unittest, pylint, bandit

Update CHANGELOG
  CHANGELOG.md
Due: none

Disable statistics import tests
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Update python version in pyproject.toml
  pyproject.toml
Due: none

Add central group metadata to statistics
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0004_groupmetadata.py
  ddionrails/statistics/models.py
Due: isort, black, unittest, pylint, bandit

Update sqlparse
  Pipfile.lock
Due: none

Update package.json
  package-lock.json
  package.json
Due: none

Replace R statistics-server
  assets/js/statistics.ts
  assets/scss/statistics.scss
  ddionrails/statistics/views.py
  docker-compose.yml
  docker/nginx/nginx.dev.conf
  templates/statistics/statistics_detail.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

Remove old statistics data models
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
  ddionrails/imports/manager.py
  ddionrails/statistics/documents.py
  ddionrails/statistics/imports.py
  ddionrails/statistics/migrations/0004_remove_variablestatistic_independent_variables_and_more.py
  ddionrails/statistics/models.py
  ddionrails/statistics/views.py
  tests/imports/test_statistics_import.py
Due: isort, black, unittest, pylint, bandit

Update main compose file
  docker-compose.yml
Due: none

Update compose file
  docker-compose.yml
Due: none

Remove deprecated elastic config flag
  docker-compose.yml
Due: none

Update urllib3 version
  Pipfile
  Pipfile.lock
Due: none

Update requests
  Pipfile
  Pipfile.lock
Due: none

Update stats variable api to show parent topics
  ddionrails/api/serializers.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit

Refactor statistics_navigation
  assets/js/statistics_navigation.ts
Due: jest

Add new API endpoint
  ddionrails/api/urls.py
  ddionrails/api/views/studies.py
Due: isort, black, unittest, pylint, bandit

Add language handling to statistics navigation
  assets/js/statistics_navigation.ts
  ddionrails/api/views/studies.py
  templates/statistics/statistics_navigation.html
Due: isort, black, unittest, jest, pylint, bandit

Add barebones test setup for new functionality
  assets/js/statistics_navigation_utils.ts
  assets/js/tests/statistics_navigation_utils_test.ts
  assets/js/tests/testdata/topic_leaves_response.json
Due: jest

Add more jest test infrastructure
  assets/js/statistics_navigation_utils.ts
  assets/js/tests/statistics_navigation_utils_test.ts
  assets/js/tests/testdata/variables_response.json
Due: jest

Change html-tag lang attribute whith lang switch
  assets/js/language_management.ts
  templates/base.html
Due: jest

Add subtopics to statistics navigation
  assets/js/statistics_navigation.ts
  assets/js/statistics_navigation_utils.ts
  assets/js/tests/statistics_navigation_utils_test.ts
  assets/js/tests/testdata/topic_leaves_response.json
  assets/js/tests/testdata/variables_response.json
  assets/js/types.ts
  assets/scss/statistics_navigation.scss
  ddionrails/api/views/studies.py
  package-lock.json
  package.json
  templates/statistics/statistics_navigation.html
Due: isort, black, unittest, jest, pylint, bandit

Add language handling to statistics navigation
  assets/js/statistics_navigation_utils.ts
  assets/js/tests/statistics_navigation_utils_test.ts
  assets/js/tests/testdata/topic_leaves_response.json
  ddionrails/api/views/studies.py
Due: isort, black, unittest, jest, pylint, bandit

Readd caching for topic leave API
  ddionrails/api/views/studies.py
Due: isort, black, unittest, pylint, bandit

Correct typo
  assets/js/statistics_navigation_utils.ts
  assets/js/tests/statistics_navigation_utils_test.ts
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
  ddionrails/api/views/instruments.py
  ddionrails/api/views/studies.py
  ddionrails/api/views/user_tools.py
  ddionrails/concepts/models.py
  tests/concepts/test_models.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, jest, pylint, bandit

Change contacts and format files
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
  ddionrails/api/views/studies.py
  ddionrails/api/views/user_tools.py
  tests/config/test_views.py
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Remove incorrect field for VariableSerializer
  ddionrails/api/serializers.py
  tests/config/test_views.py
Due: isort, black, unittest, pylint, bandit

Update contacts template
  templates/pages/contact.html
Due: none

Update statistics detail for multilingual
  templates/statistics/statistics_detail.html
Due: none

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  jest: any of: .*\.ts$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
