Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Change variable view heading
  templates/data/variable_detail.html
Due: none

Fix Value Labels table sorting
  ddionrails/data/models/variable.py
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Sort 0 with positive number for Value Labels table
  ddionrails/data/models/variable.py
Due: isort, black, unittest, pylint, bandit

Move variable labels into info box
  ddionrails/data/models/variable.py
  templates/data/translation_table.html
  templates/data/variable_info.html
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Refactor variable model
  ddionrails/data/helpers.py
  ddionrails/data/models/variable.py
  tests/data/test_helpers.py
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Change variable.get_categories output sorting
  ddionrails/data/models/variable.py
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Add fa icons to label table
  ddionrails/data/helpers.py
  templates/data/variable_info.html
Due: isort, black, unittest, pylint, bandit

Change title of Variable page and translation tbl
  templates/data/translation_table.html
  templates/data/variable_detail.html
Due: none

Refactor variables view
  assets/js/variables.js
  assets/scss/variables.scss
  templates/data/variable_info.html
Due: eslint--fix, eslint

Fix incorrect patch in tests
  tests/data/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Move large variable info content into modals
  .devcontainer.json
  assets/js/variables.js
  assets/scss/variables.scss
  ddionrails/data/views.py
  templates/data/variable_detail.html
  templates/data/variable_info.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Refactor helper
  ddionrails/data/helpers.py
Due: isort, black, unittest, pylint, bandit

Hide modal if description is short
  assets/js/variables.js
  templates/data/variable_info.html
Due: eslint--fix, eslint

Implement anchor link focussing
  assets/js/variables.js
Due: eslint--fix, eslint

Modify scroll behavior in variable view
  assets/js/variables.js
Due: eslint--fix, eslint

:tada: Minor: update CHANGELOG for v4.7.0
  CHANGELOG.md
Due: none

Improve typing change function name
  ddionrails/base/helpers/__init__.py
  ddionrails/base/helpers/ddionrails_typing.py
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Add format strings to improve readability
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Fix mypy and linter issues
  ddionrails/base/helpers/ddionrails_typing.py
  ddionrails/instruments/migrations/0002_auto_20191129_0936.py
  ddionrails/instruments/models/question.py
  tests/instruments/factories.py
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Fix mypy and linter issues
  ddionrails/base/helpers/ddionrails_typing.py
  ddionrails/instruments/models/question.py
  tests/instruments/factories.py
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Replace use deprecated jQuery part
  assets/js/index.js
Due: eslint--fix, eslint

Refactor topics.js
  assets/js/topics.js
Due: eslint--fix, eslint

Fix topics.js refactor
  assets/js/topics.js
Due: eslint--fix, eslint

Fix concepts_questions import
  ddionrails/instruments/imports.py
Due: isort, black, unittest, pylint, bandit

Fallback on variable labels from csv files
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Implement new rendering of topic/concept variables
  assets/js/topics.js
  assets/scss/topics.scss
  ddionrails/api/urls.py
  ddionrails/api/views.py
  templates/studies/study_topics.html
  tests/api/test_views.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Refactor topics.js
  assets/js/index.js
  assets/js/topics.js
  assets/scss/topics.scss
  package-lock.json
  package.json
  templates/studies/study_topics.html
Due: eslint--fix, eslint

Use new API for new display of related questions
  assets/js/topics.js
Due: eslint--fix, eslint

Replace outdated API endpoints
  ddionrails/api/urls.py
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Add question API
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Update Module documentation
  assets/js/topics.js
Due: eslint--fix, eslint

Preserve related entities during language switch
  assets/js/topics.js
  templates/studies/study_topics.html
Due: eslint--fix, eslint

Large refactor of topic view frontend
  assets/js/topics.js
  assets/scss/topics.scss
  templates/studies/study_topics.html
Due: eslint--fix, eslint

Refactor topics view for variable display sizes
  assets/js/topics.js
  assets/scss/topics.scss
  templates/studies/study_topics.html
Due: eslint--fix, eslint

Refactor retrieval of related entities
  ddionrails/api/views.py
  ddionrails/concepts/models.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Remove old rendering of related entities
  assets/js/topics.js
Due: eslint--fix, eslint

Implements related elements language switching
  assets/js/topics.js
  ddionrails/api/serializers.py
  tests/api/test_views.py
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Update and optimize BasketVariables create API
  ddionrails/api/views.py
  tests/api/test_views.py
Due: isort, black, unittest, pylint, bandit

Remove string dundermethod for performance reasons
  ddionrails/base/mixins.py
  ddionrails/data/models/dataset.py
  ddionrails/instruments/models/instrument.py
  ddionrails/instruments/models/question.py
  tests/base/test_mixins.py
  tests/data/test_models.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
