Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Migrate visualization.js to ds3 <= v5.0
  assets/js/visualization.js
  ddionrails/data/views.py
  templates/data/variable_detail.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Fix period attribute of Question model
  ddionrails/instruments/migrations/0002_question_period.py
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Add install and setup of js libs to entrypoint
  docker/ddionrails/entrypoint.sh
  package.json
Due: none

Migrate visualization.js to d3 >= v5.0
  assets/js/visualization.js
  ddionrails/data/views.py
  templates/data/variable_detail.html
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Bump pytest-splinter to 2.1.0
  Pipfile.lock
Due: none

Remove .gnugpg folder mount from remote-dev
  docker-compose-remote-dev.yml
Due: none

Fix BaseSearch no result message
  assets/js/search/components/searches/BaseSearch.vue
Due: none

Change js and css library building in docker image
  docker/ddionrails/Dockerfile
  docker/ddionrails/entrypoint.sh
Due: none

:beetle: Update Changelog for v4.5.1
  CHANGELOG.md
Due: none

Complete sentence in Changelog
  CHANGELOG.md
Due: none

Corrected some sentences in CHANGELOG
  CHANGELOG.md
Due: none

Recouple Baskets to studies
  ddionrails/data/imports.py
  ddionrails/workspace/migrations/0005_auto_20200608_0702.py
  ddionrails/workspace/models/basket.py
  ddionrails/workspace/models/basket_variable.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Fix unittest
  tests/imports/management_commands/test_update.py
Due: isort, black, unittest, pylint, bandit

Format docker-compose.yml
  docker-compose.yml
Due: none

Add backup volume in docker setup
  docker-compose.yml
Due: none

Add method to Basket model to backup Baskets
  ddionrails/workspace/models/basket.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Reintroduce BasketVariable cleanup
  ddionrails/workspace/models/basket_variable.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Interlink Basket backup with clean import
  config/settings/base.py
  ddionrails/imports/management/commands/update.py
  ddionrails/workspace/models/basket.py
  tests/conftest.py
  tests/imports/management_commands/test_update.py
  tests/workspace/test_models.py
Due: isort, black, unittest, pylint, bandit

Downgrade reactivesearch-vue to 1.2.0
  package-lock.json
  package.json
Due: none

:beetle: Update CHANGELOG for v4.5.2
  CHANGELOG.md
Due: none

Fix basket views remove_concept function
  ddionrails/workspace/views/basket.py
Due: isort, black, unittest, pylint, bandit
