Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path setup.cfg
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

pylint:
  name: lint python code (pylint)
  entry: pylint --rcfile=setup.cfg
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit
  language: system
  pass_filenames: true

Handle missing data for variable indexation
  ddionrails/data/documents.py
  tests/data/test_documents.py
Due: isort, black, unittest, pylint, bandit

Remove deprecated d3 function call
  assets/js/visualization.js
Due: eslint--fix, eslint

Refactor css files
  assets/scss/index.scss
  assets/scss/search.scss
  webpack.config.js
Due: eslint--fix, eslint

Fix search bar width
  assets/scss/search.scss
Due: none

Fix search bar width
  assets/scss/index.scss
  assets/scss/search.scss
  webpack.config.js
Due: eslint--fix, eslint

:beetle: Release: Update CHANGELOG for v4.6.2
  CHANGELOG.md
Due: none

Remove unused function call from topics.js
  assets/js/topics.js
Due: eslint--fix, eslint

Handle empty basket lists
  assets/js/basket_button.js
Due: eslint--fix, eslint

Change Study.has_topics() method
  ddionrails/studies/models.py
  tests/studies/test_models.py
Due: isort, black, unittest, pylint, bandit

Improve error reporting of attachment import
  ddionrails/publications/imports.py
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

:beetle: Release: Update CHANGELOG for v4.6.3
  CHANGELOG.md
Due: none

Fix parsing of node.key
  assets/js/topics.js
Due: eslint--fix, eslint

Add arguments to Basket API view
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Refactor variable detail view
  ddionrails/data/views.py
  templates/data/variable_detail.html
Due: isort, black, unittest, pylint, bandit

Create datasets during datasets.csv import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Remove obsolete test
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Replace concepts_questions.csv with questions.csv
  ddionrails/imports/manager.py
  ddionrails/instruments/imports.py
  tests/functional/test_data/some-study/ddionrails/concepts_questions.csv
  tests/functional/test_data/some-study/ddionrails/questions.csv
Due: isort, black, unittest, pylint, bandit

Change formatting for gunicorn logs
  docker-compose.yml
Due: none

Remove obsolete exception handling
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Fix import problems
  ddionrails/data/imports.py
  ddionrails/imports/manager.py
  ddionrails/instruments/imports.py
  tests/functional/imports/test_imports.py
  tests/functional/test_data/some-study/ddionrails/concepts_questions.csv
  tests/functional/test_data/some-study/ddionrails/questions.csv
Due: isort, black, unittest, pylint, bandit

Remove unique constraint on topic `name` field
  ddionrails/concepts/migrations/0002_auto_20201016_0842.py
  ddionrails/concepts/models.py
Due: isort, black, unittest, pylint, bandit

Address deprecation of django.contrib JSONField
  ddionrails/data/migrations/0004_auto_20201016_0850.py
  ddionrails/data/models/variable.py
  ddionrails/instruments/migrations/0003_auto_20201016_0850.py
  ddionrails/instruments/models/question.py
  ddionrails/studies/migrations/0002_auto_20201016_0850.py
  ddionrails/studies/models.py
Due: isort, black, unittest, pylint, bandit

Migrate webpack conf to webpack v5
  webpack.config.js
Due: eslint--fix, eslint

Fix webpack config
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Simplify last fix
  webpack.config.js
Due: eslint--fix, eslint

Stop including hashes in build JavaScript files
  package.json
  webpack.config.js
Due: eslint--fix, eslint

Move js files instead if cp them in entrypoint
  docker/ddionrails/entrypoint.sh
Due: none

Handle questions without concepts in import
  ddionrails/instruments/imports.py
  tests/functional/test_data/some-study/ddionrails/questions.csv
Due: isort, black, unittest, pylint, bandit

Change Label Table name in the UI
  templates/data/variable_detail.html
Due: none

Expand tooltip hover area
  templates/data/variable_info.html
Due: none

Change sorting order of variable categories
  ddionrails/data/helpers.py
  ddionrails/data/models/variable.py
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Add tooltip to relate variables register card
  templates/data/variable_detail.html
Due: none

Change sorting of categories in variable graph
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Add title attribute to icon in variable header
  templates/data/variable_detail.html
Due: none

Refactor variable info box
  templates/data/variable_info.html
Due: none

Change ordering of LabelTable values
  ddionrails/data/helpers.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
