Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Remove unused import
  ddionrails/data/helpers.py
Due: isort, black, unittest, pylint, bandit

Remove cached_property decorator
  ddionrails/data/helpers.py
Due: isort, black, unittest, pylint, bandit

Remove some lint
  ddionrails/data/helpers.py
Due: isort, black, unittest, pylint, bandit

Refactor Variable.get_categories
  ddionrails/data/models/variable.py
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Add tests; Fix label_count counting
  ddionrails/data/helpers.py
  tests/data/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Add tests; Fix label_count flag
  ddionrails/data/helpers.py
  tests/data/test_helpers.py
Due: isort, black, unittest, pylint, bandit

Limit LabelTable size (#1052)
  ddionrails/data/helpers.py
  ddionrails/data/models/variable.py
  templates/data/variable_detail.html
  tests/data/test_helpers.py
  tests/data/test_models.py
Due: isort, black, unittest, pylint, bandit

Update alpine Docker tag to v3.11.3
  docker/postfix/Dockerfile
Due: none

Update dependency node-sass to ^4.13.1
  package-lock.json
  package.json
Due: none

Update dependency style-loader to ^1.1.3
  package-lock.json
  package.json
Due: none

Update dependency vue-router to ^3.1.5
  package.json
Due: none

Lock file maintenance
  package-lock.json
Due: none

Remove some lint
  ddionrails/workspace/views/decorator.py
Due: isort, black, unittest, pylint, bandit

Add cookieconsent js library
  assets/js/index.js
  assets/scss/index.scss
  package-lock.json
  package.json
Due: eslint--fix, eslint

Add djangorestframework
  Pipfile
  Pipfile.lock
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Add some API ViewSets
  config/urls.py
  ddionrails/api/related_fields.py
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
Due: isort, black, unittest, pylint, bandit

Update dependency cspell to ^4.0.46
  package-lock.json
  package.json
Due: none

Implement creation of baskets via API
  ddionrails/api/related_fields.py
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
Due: isort, black, unittest, pylint, bandit

Remove some lint
  ddionrails/api/related_fields.py
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
Due: isort, black, unittest, pylint, bandit

Migrate REST views from api.urls to api.views
  ddionrails/api/urls.py
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Update dependency popper.js to ^1.16.1
  package-lock.json
  package.json
Due: none

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v7.5.2
  docker-compose.yml
Due: none

Remove fakeredis from dependencies
  Pipfile
  Pipfile.lock
  config/settings/testing.py
Due: isort, black, unittest, pylint, bandit

Update dependency @fortawesome/fontawesome-free to ^5.12.1
  package-lock.json
  package.json
Due: none

Remove some lint
  ddionrails/api/related_fields.py
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views.py
Due: isort, black, unittest, pylint, bandit

Update dependency cspell to ^4.0.47
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-vue to ^6.2.0
  package-lock.json
  package.json
Due: none

Update dependency vue-loader to ^15.9.0
  package-lock.json
  package.json
Due: none

Update dependency webpack to ^4.41.6
  package-lock.json
  package.json
Due: none

Update dependency webpack-cli to ^3.3.11
  package-lock.json
  package.json
Due: none

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v7.6.0
  docker-compose.yml
Due: none

Update dependency cspell to ^4.0.53
  package-lock.json
  package.json
Due: none

Update postgres Docker tag to v11.7
  docker-compose.yml
Due: none

Remove fixed homepage badge (#972)
  config/views.py
  ddionrails/base/admin.py
  ddionrails/base/migrations/0002_news.py
  ddionrails/base/models.py
  templates/pages/home.html
  tests/base/test_models.py
  tests/config/test_views.py
  tests/conftest.py
Due: isort, black, unittest, pylint, bandit

Change variable detail data to be displayed
  ddionrails/data/models/variable.py
  templates/data/variable_info.html
Due: isort, black, unittest, pylint, bandit
