Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: ./.pre_commit_unittest_handler.sh run_unittest
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: jest
        name: TypeScript unittests
        entry: jest
        language: system
        files: '.*\.ts$'
        pass_filenames: false
      - id: pylint
        name: lint python code (pylint)
        entry: ./.pre_commit_unittest_handler.sh run_pylint
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit --configfile=pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Fix incorrect use of in operator
  assets/js/variable_relations_concepts.ts
  package-lock.json
  package.json
Due: jest

Update django packages
  poetry.lock
  pyproject.toml
Due: none

Update JavaScript dependencies
  package-lock.json
  package.json
Due: none

Revert "Update django packages"
  poetry.lock
  pyproject.toml
Due: none

Update python dependencies; pin pytest
  poetry.lock
  pyproject.toml
Due: none

Add django.contrib.postgres to installed_apps
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Remove old relations tabs
  ddionrails/data/views.py
  templates/data/related_variables.html
  templates/data/variable_detail.html
Due: isort, black, unittest, pylint, bandit

Refactor variable relations
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
Due: jest

Add tests for variable relations
  assets/js/tests/mock.ts
  assets/js/tests/variable_relations_test.ts
  assets/js/variable_relations_concepts.ts
Due: jest

Add authors to publication search
  assets/js/search/result_customizations/publication_result.tsx
  assets/js/search/search_configs/publication_search_config.tsx
Due: none

Fix missing whitespace
  assets/js/search/result_customizations/publication_result.tsx
Due: none

Fix whitespace with css
  assets/js/search/result_customizations/publication_result.tsx
  assets/scss/search.scss
Due: none

Build treesitter-python during image creation
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Fix INSTALLED_APPS error
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Pin faker lib
  poetry.lock
  pyproject.toml
Due: none

Start reworking test factories
  tests/factories.py
  tests/test_factories.py
Due: isort, black, unittest, pylint, bandit

Fix issue with empty labels in label table
  assets/js/variable_labels.ts
Due: jest

Change variable relations header text
  templates/data/variable_detail.html
Due: none

Fix permission problem for nvim dev container
  docker/ddionrails/dev/nvim.Dockerfile
Due: none

Start replacing old test factories
  pyproject.toml
  tests/data/test_admin.py
  tests/factories.py
Due: isort, black, unittest, pylint, bandit

Replace factories for dataset csv import test
  tests/data/test_imports.py
  tests/factories.py
Due: isort, black, unittest, pylint, bandit

Rename factory module
  tests/api/test_views.py
  tests/data/test_admin.py
  tests/data/test_imports.py
  tests/model_factories.py
  tests/test_factories.py
  tests/workspace/factories.py
Due: isort, black, unittest, pylint, bandit

Add functions for tmp files
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Refactor file factory
  tests/conftest.py
  tests/data/test_imports.py
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Loosen overly restrictive checks for webhook API
  ddionrails/api/views/webhooks.py
Due: isort, black, unittest, pylint, bandit

Update next json import tests
  tests/data/test_imports.py
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Change json import to bulk import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Finish refactoring DatasetJSON import
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Fix tmp csv writting no header
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Refactor transformations import
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Use dict literal instead of dict
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Refactor transformation import to use bulk_import
  ddionrails/data/imports.py
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Start refactoring variable import tests
  tests/data/test_imports.py
  tests/model_factories.py
Due: isort, black, unittest, pylint, bandit

Refactor test for orphaned concepts
  tests/data/test_imports.py
  tests/file_factories.py
Due: isort, black, unittest, pylint, bandit

Finalize tooltips for variable relations rework
  assets/js/language_management.ts
  assets/js/variable_relations.ts
  assets/js/variable_relations_concepts.ts
  templates/data/variable_detail.html
Due: jest

Update poetry.lock
  poetry.lock
Due: none

Finish fixing up variable import tests
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Finish reworking variable import tests
  ddionrails/data/imports.py
  tests/data/test_imports.py
Due: isort, black, unittest, pylint, bandit

Fix some tests
  ddionrails/data/imports.py
  pyproject.toml
  templates/base.html
  templates/pages/contact.html
  tests/api/test_webhook_endpoint.py
  tests/conftest.py
  tests/file_factories.py
  tests/functional/browser/test_navigation.py
  tests/functional/test_data/some-study/ddionrails/datasets/some-dataset.json
  tests/model_factories.py
  tests/test_factories.py
Due: isort, black, unittest, pylint, bandit

Add api view for related_variables
  ddionrails/api/serializers.py
  ddionrails/api/urls.py
  ddionrails/api/views/datasets.py
Due: isort, black, unittest, pylint, bandit
