Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, pylint, bandit

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: isort
        name: sort python imports
        entry: isort --settings-path setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: black
        name: black (format)
        entry: black --config pyproject.toml
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: unittest
        name: run unittests
        entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
        language: system
        files: '.*\.py'
        pass_filenames: false
      - id: eslint--fix
        name: format javascript (eslint --fix)
        entry: npm run format --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: eslint
        name: lint javascript (eslint)
        entry: npm run lint --silent
        language: system
        files: '.*\.js$'
        pass_filenames: true
      - id: pylint
        name: lint python code (pylint)
        entry: pylint --rcfile=setup.cfg
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: bandit
        name: check python security (bandit)
        entry: bandit
        language: system
        files: '.*\.py'
        pass_filenames: true
      - id: cspell-commit
        name: Spellcheck commit message before push
        stages: [push]
        entry: bash -c "git log -1 --pretty=%B | npm run cspell -- -c .vscode/cSpell.json stdin"
        language: system
        pass_filenames: false

Refactor to remove redundancies
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Add chr type rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Unify int and chr rendering
  assets/js/questions.js
Due: eslint--fix, eslint

Implement description for variables and questions
  assets/js/description_modal.js
  assets/js/questions.js
  assets/js/variables.js
  assets/scss/description_modal.scss
  config/helpers.py
  ddionrails/data/models/variable.py
  ddionrails/imports/helpers.py
  ddionrails/instruments/models/question.py
  templates/data/variable_detail.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  tests/imports/test_helpers.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Implement number field rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Add field data import for question items
  ddionrails/instruments/imports.py
  ddionrails/instruments/migrations/0010_questionitem_name.py
  ddionrails/instruments/models/question_item.py
  tests/imports/test_data/questions.csv
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Refactor question item import
  ddionrails/instruments/imports.py
Due: isort, black, unittest, pylint, bandit

Fix CATSingle answer rendering
  assets/js/questions.js
Due: eslint--fix, eslint

Change question info text
  templates/questions/question_detail.html
  templates/questions/question_info.html
Due: none

Optimize questions import
  ddionrails/data/imports.py
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/models/answer.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/models/question_item.py
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Render two languages
  assets/js/questions.js
  templates/questions/question_detail.html
Due: eslint--fix, eslint

Prepare new import and tests
  ddionrails/instruments/imports.py
  tests/data/test_documents.py
  tests/imports/test_data/answers.csv
  tests/imports/test_data/concepts.csv
  tests/imports/test_data/datasets.csv
  tests/imports/test_data/generations.csv
  tests/imports/test_data/instruments.csv
  tests/imports/test_data/logical_variables.csv
  tests/imports/test_data/questions.csv
  tests/imports/test_data/questions_variables.csv
  tests/imports/test_data/relations.json
  tests/imports/test_data/some-questionnaire.json
  tests/imports/test_data/topics.csv
  tests/imports/test_data/topics.json
  tests/imports/test_data/transformations.csv
  tests/imports/test_data/variables.csv
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Fix question view
  ddionrails/instruments/views.py
  templates/questions/question_detail.html
Due: isort, black, unittest, pylint, bandit

Redesign navigation between questions
  assets/scss/questions.scss
  templates/questions/question_detail.html
  templates/questions/question_info.html
Due: none

Clean up migrations.
  ddionrails/instruments/migrations/0005_questionitem.py
  ddionrails/instruments/migrations/0005_questionitem_answer.py
  ddionrails/instruments/migrations/0006_alter_questionitem_question.py
  ddionrails/instruments/migrations/0007_auto_20210914_1028.py
  ddionrails/instruments/migrations/0008_auto_20210914_1034.py
  ddionrails/instruments/migrations/0009_auto_20210914_1236.py
  ddionrails/instruments/migrations/0010_questionitem_name.py
Due: isort, black, unittest, pylint, bandit

Add bin type rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Refactor instrument app imports
  ddionrails/imports/manager.py
  ddionrails/instruments/imports.py
  ddionrails/instruments/imports/__init__.py
  ddionrails/instruments/imports/concept_question_import.py
  ddionrails/instruments/imports/instrument_import.py
  ddionrails/instruments/imports/question_image_import.py
  ddionrails/instruments/imports/question_import.py
  ddionrails/instruments/imports/question_variable_import.py
  tests/functional/imports/test_imports.py
  tests/imports/test_instruments_imports.py
Due: isort, black, unittest, pylint, bandit

Change chr input icon
  assets/js/questions.js
Due: eslint--fix, eslint

Reduce database calls in question view
  config/urls.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/views.py
  templates/questions/question_info.html
  templates/questions/question_table.html
  templates/questions/related_questions.html
  tests/conftest.py
  tests/instruments/factories.py
  tests/instruments/test_models.py
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Rename test module to better reflect content
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Add field import for questions
  ddionrails/instruments/imports.py
  ddionrails/instruments/migrations/0007_auto_20210914_1028.py
  ddionrails/instruments/migrations/0008_auto_20210914_1034.py
  ddionrails/instruments/migrations/0009_auto_20210914_1236.py
  ddionrails/instruments/models/question.py
  tests/conftest.py
  tests/data/test_documents.py
  tests/imports/test_data/questions.csv
  tests/imports/test_instruments_imports.py
  tests/instruments/test_models.py
Due: isort, black, unittest, pylint, bandit

Remove overly complex dict comprehension
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Add QuestionItem model
  ddionrails/instruments/migrations/0005_questionitem.py
  ddionrails/instruments/models/__init__.py
Due: isort, black, unittest, pylint, bandit

Split answer import from answer relation import
  ddionrails/imports/manager.py
  ddionrails/instruments/imports/question_import.py
  tests/imports/test_question_imports.py
Due: isort, black, unittest, pylint, bandit

Fix typo
  ddionrails/instruments/models/question.py
Due: isort, black, unittest, pylint, bandit

Fix QuestionItem dict conversion
  ddionrails/instruments/models/question_item.py
Due: isort, black, unittest, pylint, bandit

Refactor question view to fit new specifications
  config/urls.py
  ddionrails/data/models/dataset.py
  ddionrails/data/models/variable.py
  ddionrails/data/views.py
  ddionrails/instruments/models/instrument.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/views.py
  templates/data/variable_list.html
  templates/data/variable_result.html
  templates/questions/item_partial.html
  templates/questions/question_detail.html
  templates/questions/question_info.html
  tests/instruments/test_views.py
Due: isort, black, unittest, pylint, bandit

Add questionItem instruction rendering
  assets/js/questions.js
  assets/scss/questions.scss
Due: eslint--fix, eslint

Implement rendering of txt and singel cat items
  assets/js/questions.js
  assets/scss/questions.scss
  ddionrails/base/helpers/ddionrails_typing.py
  ddionrails/instruments/models/question.py
  ddionrails/instruments/models/question_item.py
  ddionrails/instruments/views.py
  templates/questions/question_detail.html
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Fix element hiding
  assets/scss/index.scss
Due: none

:tada: Update CHANGELOG for v5.2.0
  CHANGELOG.md
Due: none

Move question image display into modals
  templates/data/variable_info.html
  templates/questions/question_info.html
Due: none

Improve question import error reporting
  ddionrails/instruments/imports/question_import.py
Due: isort, black, unittest, pylint, bandit

Hide empty question information
  assets/js/questions.js
Due: eslint--fix, eslint

Add API endpoint for question item metadata
  ddionrails/api/urls.py
  ddionrails/api/views.py
  ddionrails/instruments/views.py
Due: isort, black, unittest, pylint, bandit

Change and integrate question comparison API Point
  assets/js/question_comparison.js
  assets/scss/question_comparison.scss
  ddionrails/api/urls.py
  ddionrails/api/views.py
  ddionrails/instruments/models/question_item.py
  ddionrails/instruments/views.py
  docker/nginx/nginx.dev.conf
  templates/questions/question_detail.html
  templates/questions/question_info.html
  templates/questions/related_questions.html
  tests/api/test_views.py
  tests/instruments/factories.py
  tests/instruments/test_views.py
  webpack.config.js
Due: isort, black, unittest, eslint--fix, eslint, pylint, bandit

Update elasticsearch
  docker-compose.yml
Due: none

Refactor question comparison
  assets/js/question_comparison.js
  assets/js/question_comparison_functions.js
  assets/scss/question_comparison.scss
  templates/questions/question_detail.html
  templates/questions/question_info.html
Due: eslint--fix, eslint
