Repository ddionrails/ddionrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, unittest, eslint--fix, eslint, jest, pylint, bandit

isort:
  name: sort python imports
  entry: isort --settings-path=pyproject.toml
  language: system
  pass_filenames: true

black:
  name: black (format)
  entry: black --config=pyproject.toml
  language: system
  pass_filenames: true

unittest:
  name: run unittests
  entry: bash -c "DJANGO_SETTINGS_MODULE=config.settings.testing pytest -v -m 'not functional'"
  language: system
  pass_filenames: false

eslint--fix:
  name: format javascript (eslint --fix)
  entry: npm run format --silent
  language: system
  pass_filenames: true

eslint:
  name: lint javascript (eslint)
  entry: npm run lint --silent
  language: system
  pass_filenames: true

jest:
  name: TypeScript unittests
  entry: jest
  language: system
  pass_filenames: false

pylint:
  name: lint python code (pylint)
  entry: python3.11 -m pylint --load-plugins=pylint_django,pylint_django.checkers.migrations --rcfile=pyproject.toml
  language: system
  pass_filenames: true

bandit:
  name: check python security (bandit)
  entry: bandit --configfile=pyproject.toml
  language: system
  pass_filenames: true

Fomrat variable_labels
  assets/js/variable_labels.ts
Due: jest

Fill values according to labels
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
Due: jest

Centralize missing removal
  assets/js/variable_labels.ts
Due: jest

Refactor types and comments
  assets/js/variable_labels.ts
Due: jest

Remove unneded function
  assets/js/variable_labels.ts
Due: jest

Prepare DataTable usage
  assets/js/tests/mock.ts
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
  templates/data/variable_detail.html
Due: jest

Refactor variable_label.ts
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
Due: jest

Add table render function
  assets/js/tables/variable_labels.ts
  assets/js/variable_labels.ts
  templates/data/variable_detail.html
  webpack.config.js
Due: eslint--fix, eslint, jest

Refactor variable label parsing
  assets/js/tests/variable_labels_test.ts
  assets/js/variable_labels.ts
Due: jest

Correct DataTable info translation
  assets/js/language_management.ts
Due: jest

Add datasets and periods to label table
  assets/js/tables/variable_labels.ts
  assets/js/variable_labels.ts
  templates/data/variable_detail.html
Due: jest

Update images references in compose files
  docker-compose-ci.yml
  docker-compose-remote-dev.yml
Due: none

Update docker-compose dev image
  docker-compose-dev.yml
Due: none

Update django
  Pipfile
  Pipfile.lock
Due: none

:tada: Update CHANGELOG for v7.1.0
  CHANGELOG.md
Due: none

Make config in study import optional
  ddionrails/studies/imports.py
Due: isort, black, unittest, pylint, bandit

Move study import to beginning of imports
  ddionrails/imports/manager.py
Due: isort, black, unittest, pylint, bandit

Fix elasticsearch healthcheck
  docker-compose.yml
Due: none

Set mail image to remote image
  docker-compose.yml
Due: none

Format docker-compose file
  docker-compose.yml
Due: none

Fix elasticsearch health check typo
  docker-compose.yml
Due: none

Fix search highlighting
  assets/js/search/components/results/ConceptResult.vue
  assets/js/search/components/results/QuestionResult.vue
Due: none

Apply language swwitch to variable images
  templates/data/variable_detail.html
Due: none

Update script generator warning
  templates/workspace/basket_actions_partial.html
Due: none

Add hover display toggle to lang switch
  assets/js/index.ts
  assets/scss/index.scss
  templates/base.html
Due: jest

Clear cache during imports
  ddionrails/imports/helpers.py
  ddionrails/imports/management/commands/update.py
Due: isort, black, unittest, pylint, bandit

Fix duplication of related questions
  ddionrails/api/views/instruments.py
  ddionrails/data/views.py
Due: isort, black, unittest, pylint, bandit

Translate analysis unit and dataset type
  templates/data/variable_info.html
Due: none

Fix: add missing dataset.label_de in import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Fix label table for empty and missings only values
  assets/js/tables/variable_labels.ts
  assets/js/tests/testdata/response.json
  assets/js/variable_labels.ts
  ddionrails/data/views.py
  package.json
  templates/data/variable_detail.html
Due: isort, black, unittest, jest, pylint, bandit

Fix pyproject.toml
  pyproject.toml
Due: none

Fix browser test
  tests/functional/browser/conftest.py
Due: isort, black, unittest, pylint, bandit

Change browser test for language switch
  tests/functional/browser/test_navigation.py
  tests/functional/browser/test_workspace.py
Due: isort, black, unittest, pylint, bandit

Pause functional browser testing
  .github/workflows/system-tests.yml
Due: none

Update dependencies
  Pipfile.lock
  package-lock.json
Due: none

build: enable parallel indexing in Elasticsearch
  config/settings/base.py
Due: isort, black, unittest, pylint, bandit

Disable parallel indexing during tests
  tests/conftest.py
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

build: enable parallel indexing in Elasticsearch (#2767)
  config/settings/base.py
  tests/conftest.py
  tests/functional/imports/test_imports.py
Due: isort, black, unittest, pylint, bandit

Improve error reporting of dataset import
  ddionrails/data/imports.py
Due: isort, black, unittest, pylint, bandit

Path conditions:
  isort: any of: .*\.py
  black: any of: .*\.py
  unittest: any of: .*\.py
  eslint--fix: any of: .*\.js$
  eslint: any of: .*\.js$
  jest: any of: .*\.ts$
  pylint: any of: .*\.py
  bandit: any of: .*\.py
